:root {
    --blur: 8px;
    --ThemeName: "Dark Vanilla";
    --author: "Lily (Discord: mintlily)";
    --version: "1.1.0";
}

body.dark-theme {
    --body-bg-color: #191F22;
    --icon-button-color: #EECCE0;
    --mat-menu-bg-color: rgba(19, 23, 25, 0.4);
    --mat-menu-color: #EECCE0;
    --voip-audio-controls-dropdown-accent-color: #EECCE0;
    --mat-snackbar-border-color: #fff;
}

.logo-link[_ngcontent-ng-c3253505235]:after {
    content: '' var(--ThemeName) ' v' var(--version);
    /*white-space: pre-wrap;*/
    font-size: 8pt;
    color: #906D92;
}

body .mat-menu-panel {
    backdrop-filter: blur(var(--blur));
}

body .mat-menu-panel .mat-menu-item:hover:not([disabled]) {
    background-color: rgba(255, 255, 255, 0.2)
}

body.dark-theme.material-next-msg mws-message-part-content {
    --incoming-bg-color: #303030;
    --xms-outgoing-bg-color: #EECCE0;
    --xms-outgoing-color: #202124;
    --rcs-incoming-bg-color: #31343a;
    --rcs-outgoing-bg-color: #b3849f linear-gradient(130deg,#7a546a 30%,#402836 95%);
}

body.dark-theme mw-fab-link {
    --fab-icon-container-bg-color: #906D92;
    --fab-icon-container-disabled-bg-color: rgba(232,234,237,0.12);
    --fab-label-color: #fff;
    --fab-label-disabled-color: #e8eaed;
}

body.dark-theme mws-header {
    --header-bg-color: rgba(19, 23, 25, 0.4);
    --header-color: #EECCE0;
    --header-back-button-color: #EECCE0;
}

.header {
    backdrop-filter: blur(var(--blur));
}

body.dark-theme mw-conversation-container {
    --conv-container-host-bg-color: #191F22;
    --compose-readonly-bg-color: #3c4043;
    --conversation-readonly-color: #9aa0a6;
}

.input-background {
    background: rgba(0, 0, 0, 0) !important;
}

body.dark-theme mw-main-nav{
    --main-nav-host-bg-color: #131719;
    --main-nav-host-border-color: #202124;
    --main-nav-header-color: #EECCE0;
    --main-nav-header-menu-color: #EECCE0;
}

body.dark-theme mw-main-landing {
    --main-landing-image-fill-color: #EECCE0;
    --main-landing-host-bg-color: #191F22;
}

body.dark-theme mws-conversation-list-item-menu {
        --conv-list-item-menu-icon-color: #EECCE0;
}

body.dark-theme mws-conversation-list-item {
    --conv-list-item-checked-avatar-bg-color: #EECCE0;
}

.icon[_ngcontent-epi-c99] {
    fill: #906D92;
}

body.dark-theme.material-next-msg mws-message-part-content {
    --incoming-bg-color: #1e2427;
}

body.dark-theme.material-next-msg mws-message-part-content.is-focused.incoming {
    background-color: #131719 !important;
}

body.dark-theme mws-tombstone-message-wrapper {
    --tombstone-msg-color: #EECCE0;
    --tombstone-msg-background-color: rgba(248,249,250,0.06);
    --link-color: #EECCE0;
}

body.dark-theme mws-message-compose {
    --input-bg-color: rgba(19, 23, 25, 0.4);
    --input-color: #e8eaed;
}

.input-box, .send-button {
    backdrop-filter: blur(var(--blur));
    fill: #EECCE0 !important;
    color: #EECCE0;
}

.input {
    /*border-radius: 10px;*/
    background-color: transparent !important;
}

body.dark-theme mws-message-compose-picker-buttons {
    --picker-button-fill-color: #EECCE0;
    --picker-button-selected-fill-color: #906D92;
}

body.dark-theme mws-picker-wrapper {
    --box-bg-color: rgba(19, 23, 25, 1);
    --picker-elevation: 0 0 2px rgba(0,0,0,0.3),0 2px 16px rgba(0,0,0,0.6);
    --picker-tab-focus-bg-color: rgba(248,249,250,0.09);
    --picker-tab-label-color: #9aa0a6;
    --picker-tab-label-active-color: #EECCE0;
    --tab-header-border-color: #5f6368;
}

.dark-theme .mdc-menu-surface {
    background-color: rgba(19, 23, 25, 0.6);
    backdrop-filter: blur(var(--blur));
    padding: 15px;
    border-radius: 1rem;
}
.dark-theme .mat-mdc-menu-item-highlighted:not([disabled]), .dark-theme .mat-mdc-menu-item.cdk-keyboard-focused:not([disabled]), .dark-theme .mat-mdc-menu-item.cdk-program-focused:not([disabled]), .dark-theme .mat-mdc-menu-item:hover:not([disabled]) {
    background-color: rgba(238, 204, 224, 0.3);
    border-radius: 1rem;
    
}

.cdk-overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(var(--blur));
}

body .mat-mdc-dialog-container.mat-mdc-dialog-container {
    --mdc-dialog-container-color: #191F22;
}

body.dark-theme mws-dialog {
    --dialog-confirm-bg-color: #906D92;
    --dialog-confirm-color: #EECCE0;
    --dialog-content-link-color: #EECCE0;
}

.dark-theme .gmat-mdc-button.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #906D92;
    color: #eee;
    border-radius: 0.785rem;
}
.add-people-icon[_ngcontent-ng-c134966928] {
    fill: #EECCE0;
    border-color: #EECCE0;
}

.list-item.selected[_ngcontent-ng-c3948761306]:focus, .list-item.selected[_ngcontent-ng-c3948761306]:hover, .selected[_ngcontent-ng-c3948761306] {
    background-color: rgba(238, 204, 224, 0.2);
}
[_nghost-ng-c3948761306] .list-item[_ngcontent-ng-c3948761306]:focus:not(.selected), body:not([input-type="TOUCH"]) [_nghost-ng-c3948761306] .list-item[_ngcontent-ng-c3948761306]:hover:not(.selected) {
    background-color: rgba(238, 204, 224, 0.3);
}

.lightbox-dialog-container .mat-mdc-dialog-container.mat-mdc-dialog-container {
    background-color: transparent;
}

/* Blur did not work
.picker-wrapper.box-styled {
    backdrop-filter: blur(var(--blur)) !important;
}
*/