:root {
	--xtheme-version: '2023.10.3';
	/* Year, month, major, [r = revision] */
	/* Self defined Variables */
	--blur: 8px;
	--blur-mac: 18px;
	--_dark1: #191F22;
	--_dark2: #1e2427;
	--_dark3: #131719;
	--theme-text: #EECCE0;
	--theme-text-muted: #906D92;
	--soft-corner: 0.6rem;
	--soft-corner-roles: 0.45rem;
	--background-primary-rgb: 25, 31, 34;
	--background-tertiary-rgb: 19, 23, 25;

	/* Discord Variable Overrides */
	--background-primary: var(--_dark1);
	--background-secondary: var(--_dark1);
	--background-secondary-alt: var(--_dark2);
	--background-tertiary: var(--_dark3);
	--channeltextarea-background: var(--_dark3);
	--modal-background: var(--_dark1);
	--toast-background: var(--_dark1);
	--toast-header: var(--_dark1);
	--toast-contents: var(--_dark2);
	--background-floating: var(--_dark3);
	--profile-body-background-color: var(--_dark3);
	--activity-card-background: var(--_dark3);
	--home-background: var(--_dark3);
	--background-modifier-selected_: rgba(238, 204, 224, 0.2);
	--background-modifier-hover_: rgba(238, 204, 224, 0.3);
	--background-accent: var(--theme-text-muted);
	--background-fourth: var(--_dark2);
	--theme-text-rgb: 238, 204, 224;
	--theme-text-muted-rgb: 144, 109, 146;
	--profile-border-width: 2px;
	--text-link: var(--theme-text);
	--text-link-low-saturation: var(--theme-text-muted);
	--brand-experiment: rgb(144, 109, 146);
	--brand-experiment-05a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.05);
	--brand-experiment-10a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.1);
	--brand-experiment-15a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.15);
	--brand-experiment-20a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.2);
	--brand-experiment-25a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.25);
	--brand-experiment-30a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.3);
	--brand-experiment-35a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.35);
	--brand-experiment-40a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.4);
	--brand-experiment-45a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.45);
	--brand-experiment-50a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.5);
	--brand-experiment-55a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.55);
	--brand-experiment-60a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.6);
	--brand-experiment-65a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.65);
	--brand-experiment-70a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.7);
	--brand-experiment-75a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.75);
	--brand-experiment-80a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.8);
	--brand-experiment-85a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.85);
	--brand-experiment-90a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.9);
	--brand-experiment-95a: hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.95);
	--brand-experiment-200: hsl(325, calc(var(--saturation-factor, 1) * 85.6%), 97%);
	--brand-experiment-600: hsl(297, calc(var(--saturation-factor, 1) * 15%), 50%);
	--brand-experiment-560: hsl(297, calc(var(--saturation-factor, 1) * 15%), 50%);
	--brand-experiment-500: hsl(297, calc(var(--saturation-factor, 1) * 15%), 50%);
	--brand-experiment-400: hsl(297, calc(var(--saturation-factor, 1) * 15%), 50%);
	--brand-experiment-430: hsl(297, calc(var(--saturation-factor, 1) * 15%), 50%);
	--brand-500: var(--theme-text);
	--brand-260: hsl(325, calc(var(--saturation-factor, 1) * 50%), 87%);
	--brand-260-hsl: 335 calc(var(--saturation-factor, 1) * 86.2%) 88.6%;
	--mention-background: rgba(var(--theme-text-muted-rgb), 0.3);
	--control-brand-foreground: var(--theme-text-muted);
	--divider-color: var(--theme-text);
	--text-brand: var(--theme-text);
	--scrollbar-thin-thumb: var(--_dark3);
	--scrollbar-auto-thumb: var(--_dark3);
	--scrollbar-auto-track: var(--_dark2);
	--scrollbar-auto-scrollbar-color-thumb: var(--_dark3);
	--scrollbar-auto-scrollbar-color-track: var(--_dark2);
	--context-menu-radius: var(--soft-corner);
	--text-positive: var(--theme-text);
	--input-background: var(--_dark3);
	--font-primary: "Baloo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-display: "Baloo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-headline: "Baloo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;

	/* nolongerPowercord - Replugged Variables */
	--spotify-color: var(--theme-text);
}

/* devanagari */
@font-face {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/baloo2/v16/wXK0E3kTposypRydzVT08TS3JnAmtdgazZpp_led7Q.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* vietnamese */
@font-face {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/baloo2/v16/wXK0E3kTposypRydzVT08TS3JnAmtdgazZpn_led7Q.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/baloo2/v16/wXK0E3kTposypRydzVT08TS3JnAmtdgazZpm_led7Q.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/baloo2/v16/wXK0E3kTposypRydzVT08TS3JnAmtdgazZpo_lc.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.info__755e1::before {
	content: 'Dark Vanilla ' var(--xtheme-version);
	color: var(--theme-text-muted);
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
}

/* Windows 10/11 TitleBar */
div[class*="titleBar_"] {
	height: 28px;
}

div[class*="withFrame_"] {
	height: 32px;
	margin-top: 0px;
}

div[class*="winButton_"] {
	height: 32px;
	width: 32px;
	top: 0;
	padding-left: 8px;
	padding-right: 8px;
	cursor: default;
}

.winButton__88672,
.winButton__88672[aria-label="Maximize"],
.winButton__88672[aria-label="Minimize"] {
	color: #fff;
	transition: ease-in-out 0.125s;
}

div[class*="winButtonMinMax_"]:nth-child(4):hover {
	background-color: #FAA61A;
	color: white;
	transition: ease-in-out 0.125s;
}

div[class*="winButtonMinMax_"]:nth-child(3):hover {
	background-color: #3BA55C;
	color: white;
	transition: ease-in-out 0.125s;
}

div[class*="wordmark_"] {
	position: absolute;
	left: 50%;
	top: 16px !important;
	transform: translate(-50%, -50%);
	padding: 10px;
	color: var(--theme-text-muted);
}

/* Light/dark mode indicator on title bar */
div[class*="titleBar_"]::after {
	position: absolute;
	top: 1px;
	right: 184px;
	height: 18px;
	padding: 4px;
	line-height: 23px;
	font-size: 14px;
	letter-spacing: 0;
	color: var(--theme-text-muted);
	font-family: var(--font-primary);
}

.theme-dark div[class*="titleBar_"]::after {
	content: 'Dark Vanilla v' var(--xtheme-version);
}

/* Media Opening */
div[class^="backdrop_"][class*="withLayer_"][style="opacity: 0.85; background: rgb(0, 0, 0);"],
div[class^="backdrop_"][class*="withLayer_"][style="opacity: 0.85; background: var(--black-500);"] {
	background-color: rgba(0, 0, 0, 0.45) !important;
}

div[class^="layer_"] {
	backdrop-filter: blur(var(--blur));
}

/* Anything Main and or Global */
/* Right Click Context Menu */
.menu_dc52c6 {
	background-color: var(--_dark3);
}

/* Hyperlink */
a[href]:not(a[aria-label], a[data-list-item-id]) {
	color: var(--theme-text);
}

a[href]:not(a[aria-label], a[data-list-item-id]):hover {
	color: rgba(var(--theme-text-rgb), 0.8);
}

/* Private Channel Selection */
div[class*="interactiveSelected_"][class*="selected_"] {
	background: var(--background-modifier-selected_);
	border-radius: var(--soft-corner);
}

div[class*="interactive_"]:focus-within,
div[class*="interactive_"]:hover {
	background: var(--background-modifier-hover_);
	border-radius: var(--soft-corner);
}

/* Guild Header Menu, Guild, Message, Message, User, Channel Context Menu */
div[class^="menu_"][class*="fixed_"],
div[class^="menu_"]#guild-context,
div[class^="menu_"]#message,
div[class^="menu_"]#message-actions,
div[class^="menu_"]#user-context,
div[class^="menu_"]#channel-context {
	background-color: var(--_dark2) !important;
	border-radius: var(--soft-corner);
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.35);
}

/* Top Left Discord Logo Background Inactive */
div[class^="childWrapper_"] {
	background-color: rgba(var(--theme-text-rgb), 0.35);
}

/* Top Left top window */
div[class^="base_"],
div[class^="sidebar_"] {
	border-radius: var(--soft-corner) 0 0 0;
}

/* Emoji/Sticker/GIF Popup Box */
/* Footer Color fix */
.contentWrapper__321ed,
.emojiPicker_b65ce9 {
	background-color: var(--background-fourth);
}

div[class*="inspector_"] {
	background-color: var(--background-fourth) !important;
}

/* GIFs Stickers Emoji NavTab Buttons */
button[class*="navButtonActive_"],
button[class*="navButtonActive_"]:hover {
	background: var(--background-modifier-selected_);
}

button[class*="navButton_"]:hover {
	background: var(--background-modifier-selected_);
	border-radius: 4px;
}

/* GIF Category Header */
.wrapper__7a35f {
	background-color: transparent;
}

/* Input */
.container_e4c233,
.container__7712a {
	background-color: var(--_dark3);
	border-radius: var(--soft-corner);
}

/* Emoji/Sticker background */
.stickerInspected__1c897 .inspectedIndicator_f00108,
div[class*="categoryItemDefaultCategorySelected_"],
div[class*="categoryItemDefaultCategorySelected_"]:hover,
.emojiItem_b15dee.emojiItemSelected__1a09a {
	background-color: var(--background-modifier-selected_);
}

/* Diversity Selection */
div[class^="diversitySelectorOptions_"] {
	background-color: var(--_dark3);
	border: 0.1px solid transparent;
	border-radius: var(--soft-corner);
}

/* Message React Emoji Picker Backgrounds */
.contentWrapper_eab878 {
	background-color: var(--_dark2);
}

/* Friends Tab Selected: x */
/* x = Online */
.theme-dark #online-tab {
	background-color: var(--background-secondary);
}

/* x = All */
.theme-dark #all-tab {
	background-color: var(--background-secondary);
}

/* x = Pending */
.theme-dark #pending-tab {
	background-color: var(--background-secondary);
}

/* x = Blocked */
.theme-dark #blocked-tab {
	background-color: var(--background-secondary);
}

/* x = Add Friend */
.theme-dark #add_friend-tab {
	background-color: var(--background-secondary);
}

.theme-dark div[aria-controls="add_friend-tab"] {
	color: var(--theme-text);
}

div[data-item-id="ADD_FRIEND"] {
	background-color: var(--theme-text-muted) !important;
	transition: background 0.1s;
}

div[data-item-id="ADD_FRIEND"]:hover {
	background-color: transparent !important;
	transition: background 0.1s;
}

section[class*="container"][class*="themed"] {
	background-color: var(--_dark1);
}

/* Notification Badge */
div[class*="numberBadge_"] {
	background-color: var(--theme-text-muted) !important;
	/*color: var(--background-fourth);*/
}

/* List Box */
div[role=listbox][class*="popout"] {
	background-color: var(--_dark2);
	border-radius: var(--soft-corner);
}

div[role=listbox][class*="popout"]>div[role="option"]:hover {
	background-color: var(--background-modifier-hover_);
}

div[role=listbox][class*="popout"]>div[role="option"][aria-selected="true"] {
	background-color: var(--background-modifier-selected_);
}



/* Switch Toggles */
div[class*="container_"][class*="checked_"] {
	background-color: var(--theme-text-muted) !important;
}

div[class*="container_"]>svg>rect {
	fill: var(--_dark2) !important;
}

div[class*="container_"]>svg>svg>path {
	fill: var(--theme-text) !important;
}

/* User Popout */
#popout_4397[class="theme-dark layer_ec16dd"] {
	box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2);
}

/* Background (No profile color) */
div[class*="userProfileInnerThemedNonPremium_"] {
	box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2);
	background: var(--_dark1) !important;
}

/* Pfp Hover */
foreignObject[mask="url(#svg-mask-avatar-status-round-80)"],
foreignObject[mask="url(#svg-mask-avatar-status-mobile-80)"] {
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(var(--blur));
	border: 0.01px solid transparent;
	border-radius: 80px;
}

/* Profile Link Verified Badge */
svg[class*="flowerStar"] path {
	fill: var(--theme-text-muted);
}

/* Application Buttons */
[class*="lookLink_"],
[class*="lookInverted_"],
[class*="lookFilled_"],
[class*="lookOutlined_"] {
	border-radius: var(--soft-corner);
}

/* Lily's Website Icons */
img[aria-label="mili.lgbt"] {
	content: url("https://i.mintlily.lgbt/MintMod_flat.png");
}

img[aria-label="mintlily.lgbt"] {
	content: url("https://mintlily.lgbt/assets/img/Lily.png");
	border-radius: 50%;
}

img[aria-label="mintylabs.dev"] {
	content: url("https://mintylabs.dev/assets/img/favicon.png");
}

/* Change X back to twitter */
img[src*="/assets/f47485602365c946fa52.svg"] {
	content: url("https://i.mintlily.lgbt/85cf2b49d2a185c98ec8e383ad5a05d6.svg");
}

/* Spotify Panel / Plugin / Vanilla Things Edits */
#vc-spotify-progress-bar>div>div>div>div[class^="barFill_"] {
	box-shadow: 0px 5px 10px var(--theme-text);
}

div[class*="barInner"] {
	box-shadow: 0px 0px 10px #fff;
}

img[class*="assetsLargeImageSpotify_"],
#vc-spotify-album-image {
	border-radius: var(--soft-corner) !important;
}

.vc-spotify-button:hover {
	background-color: var(--background-modifier-selected_) !important;
	border-radius: var(--soft-corner);
	transition: border-radius 0.1s;
}

/* Server Roles */
.role__631a3:not(.addButton_c648bf) {
	background-color: var(--_dark2);
	border: 0.025rem solid var(--_dark2);
	border-radius: var(--soft-corner-roles);
}

.addButton_c648bf {
	background-color: var(--_dark2);
	border: 0.025rem solid var(--_dark2);
	border-radius: var(--soft-corner-roles);
	transition: background 0.1s;
}

.addButton_c648bf:hover {
	background-color: var(--background-modifier-hover_);
	border: 0.025rem solid var(--background-modifier-hover_);
	transition: background 0.1s;
}

/* Connected Accounts */
div[class*="connectedAccountContainer"] {
	background-color: rgba(255, 255, 255, 0.05);
	border-color: transparent;
	border-radius: var(--soft-corner);
}

/* User Popout Large */
/* Profile Info Categories */
.top__592a7 .selected__5711d.themed_b957e8.item__48dda {
	transition: all 0.2s;
	border-color: var(--theme-text);
}

.top__592a7 .themed_b957e8.item__48dda:hover {
	transition: all 0.2s;
	border-color: var(--theme-text-muted);
}

/* Shrink server banners to header instead of disappearing. */
[class*="animatedContainer_"] {
	opacity: 1 !important;
	transition: opacity 0.5s;
}

[class*="animatedContainer_"]>[class*="bannerImage_"] {
	transition: margin 0.5s;
}

:not([class*="bannerVisible_"])>[class*="animatedContainer_"] {
	opacity: 0.35 !important;
	height: 138px;
}

:not([class*="bannerVisible_"])>[class*="animatedContainer_"]>[class*="bannerImage_"] {
	margin-top: -12px;
}

header[class*="header"] {
	backdrop-filter: blur(var(--blur)) !important;
}

[class*="hasBanner"] [class*="header"],
[class*="hasBanner"] [class*="header"]:hover {
	backdrop-filter: blur(0px) !important;
}

/* Server Channel Selection */
div[class*="modeSelected"]>div>a[data-list-item-id^="channels"][class^="link"],
/* Server Page Menus */
li[class*="modeSelected"]>div[class^="link"] {
	background-color: var(--background-modifier-selected_);
	border-radius: var(--soft-corner);
}

div[class*="wrapper"]:hover>div>a[data-list-item-id^="channels"][class^="link"],
div[class*="typeThread"]:hover>div[data-list-item-id^="channels"][class^="link"],
/* Server Page Menus */
li[class*="wrapper"]:hover>div[class^="link"] {
	background-color: var(--background-modifier-hover_);
	border-radius: var(--soft-corner);
}

/* User Area Panel */
section[class^="panels_"] {
	margin-right: 6px;
	margin-bottom: 10px;
	border: solid transparent 0.1px;
	border-radius: 18px;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.35);
	background-color: var(--_dark2);
	scale: 90%;
}

section[class^="panels_"]>div {
	background-color: transparent !important;
}

div[class^="avatarWrapper_"]:hover {
	border-radius: var(--soft-corner);
	background-color: var(--background-modifier-selected_);
}

div[class^="flex_"][class*="alignStretch_"]>button:hover {
	border-radius: var(--soft-corner);
	background-color: var(--background-modifier-selected_);
}

/* Voice Connected */
section[class^="panels_"]>div>div[class^="container_"] {
	background-color: transparent;
}

div[class^="animatorTop_"]>div[class^="container_"] {
	background-color: var(--_dark2);
	border-radius: var(--soft-corner);
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.35);
}

/* Member List */
/* Role Color Background */
.username__11d8c span[style*="rgb("]::after {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.125;
	background: currentColor;
	border: 0 solid transparent;
	border-radius: var(--soft-corner);
}

.container__4f20e {
	margin-bottom: 5px;
}

/* Subtext */
.activityText__47ec1 {
	color: var(--theme-text);
}

.activityText__47ec1 strong {
	font-weight: 600;
}

svg.icon_d942d4 path {
	fill: var(--theme-text);
}

/* Container */
.container_b2ce9c {
	flex-direction: none;
}

/* Notice Panel */
div[class^="membersListNotices_"] {
	width: 0px;
}

/* Reply Click Background flash */
div[class*="backgroundFlash"] {
	background: linear-gradient(270deg, var(--theme-text-muted), transparent);
	background-size: 400% 400%;
	-webkit-animation: reply 2s ease 3;
	-moz-animation: reply 2s ease 3;
	animation: reply 2s ease 3;
}

@-webkit-keyframes reply {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes reply {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@keyframes reply {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

/* Edited Message Timestamp */
.timestamp_cdbd93:not(.timestampInline__470e0) time::after {
	content: " (" attr(aria-label) ")";
	color: var(--text-muted);
	font-size: 0.625rem;
	font-weight: 400;
	line-height: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform: lowercase;
}

.edited_b20dd9 {
	display: none;
}

/* Guild Selected Pill Color */
.item_f9d377 {
	background-color: var(--theme-text);
}

/* Stickers onClick */
.popoutContainer__7b9a3 {
	background-color: var(--_dark3);
	border-radius: var(--soft-corner);
}

.guildSection_ebda04 {
	background-color: var(--background-fourth);
}

/* Upload Popup */
.theme-dark div[class^="uploadModal_"],
.theme-dark div[class^="footer_"] {
	background-color: var(--_dark1);
}

.theme-dark .checkbox_c7f690>svg>path[fill*="hsl(235"] {
	fill: var(--theme-text);
}

@keyframes expand_attachment_areabox {
	from {
		height: 0;
	}

	to {
		height: 218px;
	}
}

ul[class*="channelAttachmentArea_"] {
	animation-name: expand_attachment_areabox;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

.attachButtonPlay-1ATmb5 {
	color: var(--theme-text);
}

/* Jump To Present Bar */
[class*="jumpToPresentBar"] {
	display: contents;
}

[class*="jumpToPresentBar"]>button:first-child {
	display: none;
}

[class*="jumpToPresentBar"]>button:last-child {
	position: absolute;
	bottom: 15px;
	right: 16px;
	padding: 8px !important;
	height: auto;
	box-shadow: var(--elevation-high);
	border-radius: 100px;
	display: flex;
	font-size: 0;
	color: transparent;
	transition: font-size 0.2s 0.1s, color 0.2s, padding 0.4s 0.1s;
	background-color: rgba(var(var(--_dark3)-rgb), 0.6);
	backdrop-filter: blur(var(--blur-mac));
	z-index: 100;
}

[class*="jumpToPresentBar"]>button svg {
	order: -1;
	margin: 0;
	height: 24px;
	width: 24px;
	top: unset;
	margin-right: 2px;
	margin-left: 0;
	color: var(--theme-text);
	transition: margin 0.6s;
}

[class*="jumpToPresentBar"]:hover>button {
	padding: 8px 18px !important;
	font-size: 14px;
	color: var(--text-normal);
	transition: font-size 0.2s, color 0.2s 0.1s, padding 0.4s;
}

[class*="jumpToPresentBar"]:hover>button svg {
	margin-right: 2px;
	margin-left: -6px;
}

/* Server Settings Open */
/* Stickers */
.theme-dark .tierHeaderUnlocked_cc60fa,
.theme-dark .tierHeaderLocked__4d099 {
	background-color: var(var(--_dark3));
}

.wrapper__93f27:focus-within,
.wrapper__93f27:hover {
	background-color: var(--background-modifier-hover_);
}

.action_d01fae {
	background-color: var(var(--_dark3));
}

.theme-dark .tierBody__615a1,
.theme-dark .tierInProgress_f08e8b,
.theme-dark .background__3dd67 {
	background-color: var(var(--_dark3));
}

/* Widgets */
.copyInput_c1c679 {
	background-color: var(var(--_dark3));
	border: 0.1px solid transparent;
	border-radius: var(--soft-corner);
}

/* Server Templates */
.input_d266e7 {
	background-color: var(var(--_dark3)) !important;
	border-radius: var(--soft-corner);
}

/* Integrations */
.theme-dark .card_fd0d59 {
	background-color: var(var(--_dark3));
	border-radius: var(--soft-corner);
	border-color: transparent;
}

/* Integrations > Webhooks */
.theme-dark .card__05cf8 {
	border-color: transparent;
}

.cardPrimary_cb7a0e.editable_c46920 {
	background-color: var(var(--_dark3));
	border-radius: var(--soft-corner);
}

/* App Directory */
.theme-dark div[class^="directoryContainer_"] {
	background-color: var(--_dark2);
}

.card__834d4 {
	background-color: var(--_dark1);
}

/* Saftey Setup */
.safetyChecklist__826c8 {
	background-color: var(--_dark3);
	border-radius: var(--soft-corner);
}

/* Audit Log */
.theme-dark .headerDefault__3e003,
.theme-dark .headerClickable_c4d7a9 {
	background-color: var(--_dark3);
	border-radius: var(--soft-corner);
}

.theme-dark .headerExpanded__03c29 {
	background-color: var(--_dark3);
	border-top-left-radius: var(--soft-corner);
	border-top-right-radius: var(--soft-corner);
}

.theme-dark .changeDetails_ecd760 {
	background-color: var(--_dark2);
	border-bottom-left-radius: var(--soft-corner);
	border-bottom-right-radius: var(--soft-corner);
}

/* Members */
.divider_a2339a {
	border: none;
}

.theme-dark .card_dc88cd {
	padding: 15px;
	background-color: var(--_dark3);
	border-radius: var(--soft-corner);
	margin: 2px;
}

/* === Settings Opened === */
.topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda,
.side_b4b3f6 .themed_b957e8.selected__5711d.item__48dda {
	background: var(--background-modifier-selected_);
	border-radius: var(--soft-corner);
}

.topPill__0cdf1 .themed_b957e8.item__48dda:hover:not(.disabled__85bca),
.side_b4b3f6 .themed_b957e8.item__48dda:hover:not(.disabled__85bca) {
	background: var(--background-modifier-hover);
	border-radius: var(--soft-corner);
}

div[class*="header_"]>div[class*="eyebrow_"] {
	font-size: 13px;
	text-decoration: underline;
}

div[class*="headerText_"] {
	overflow-x: unset;
}

/* User Profile */
.theme-dark .bioTextArea_a108c9,
.theme-light .bioTextArea_a108c9 {
	border-radius: var(--soft-corner);
}

/* Privacy & Safety */
div[class*="itemFilled_"][aria-checked=true] {
	background-color: var(--background-modifier-selected_);
}

.card__4dc22:not(.outline_cb0aed) {
	background-color: var(--_dark3);
	border-radius: var(--soft-corner);
}

/* Authorized Apps */
div[class*="authedApp"] {
	background-color: var(var(--_dark3));
	border-color: transparent;
	border-radius: var(--soft-corner);
}

/* Devices */
/* Connections */
div[class*="accountList"] {
	background-color: rgba(var(--theme-text-muted-rgb), 0.1);
	border-color: transparent;
	border-radius: var(--soft-corner);
}

button[class*="accountButtonInner_"] {
	background-color: rgba(var(--theme-text-muted-rgb), 0.2);
}

.connection_fff5f6 {
	background-color: var(var(--_dark3));
}

/* Server Boost */
div[class^="guildContainer_"],
div[class^="recommendedServerCard_"] {
	background-color: var(--_dark3);
}

div[class^="boostContainer_"] {
	background-color: var(--_dark2);
}

/* Billing */
div[class^="paymentPane_"],
.theme-dark .paginator_e620d3,
.theme-dark .bottomDivider_a59d97 {
	background-color: var(--_dark3) !important;
}

.theme-dark .bottomDivider_a59d97 {
	border-bottom-color: rgba(255, 255, 255, .1)
}

.pageButtonPrev__9ee28.disabled__238bc,
.pageButtonNext_b6c1ca.disabled__238bc,
.pageButtonPrev__9ee28 {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

div[class^="pageButtonNext_"] {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

/* Accessibility */
button[class*="lookFilled"][class*="colorBrandNew"] {
	background-color: var(--theme-text-muted);
}

/* Log Out */
.tabBarItemContainer_d74773 {
	color: #D83C3E;
}

/* === END Settings Opened === */

/* Message Unread */
/* New Message Bar */
div[class^="newMessagesBar_"] {
	width: 65%;
	top: 1.6rem;
	left: auto;
	right: 12px;
	border-radius: 0.7rem 0 0 0.7rem;
	float: right;
	background-color: var(--theme-text-muted);
}

/* Inline with Messages */
.unreadPill__715fc {
	background-color: var(--theme-text);
	color: var(--_dark3) !important;
	fill: var(--theme-text);
}

.unreadPillCapStroke__12c0b {
	fill: var(--theme-text);
	color: var(--theme-text);
}

.divider_b9338f {
	border-color: var(--theme-text-muted);
}

.endCap__95d53:not(.unreadPill__715fc) {
	color: var(--theme-text) !important;
}

/* Inline with Messages */
/* Text File Preview */
.textContainer__709ff,
.hljs {
	background-color: var(var(--_dark3));
}

.footer__06f4b {
	background-color: var(var(--_dark3));
}

.formattedSize__07da1 {
	color: #aaa;
}

/* Embeds */
.embedFull__8dc21 {
	background: var(--_dark3) !important;
}

.embed_d3cbe3 {
	border-top-right-radius: var(--soft-corner);
	border-bottom-right-radius: var(--soft-corner);
}

.theme-dark .wrapperAudio__555ce {
	background: var(--_dark3);
	border-radius: var(--soft-corner);
}

.audioControls__9fbe9 {
	border-radius: var(--soft-corner);
	background-color: var(--_dark2);
	padding: 3px;
}

.hoverButtonGroup__5b423,
.hoverButtonGroup__5b423.nonMediaAttachment__30665 {
	background-color: var(--background-modifier-hover_);
}

/* Images in Message */
div[class^="imageWrapper_"][class*="clickable_"] {
	border-radius: var(--soft-corner);
}

div[class^="hoverButtonGroup_"] {
	background-color: rgba(var(var(--_dark3)-rgb), 0.6);
	backdrop-filter: blur(var(--blur));
	border-radius: var(--soft-corner);
}

/* Code Markup */
div[class^="markup_"]>pre {
	border-radius: var(--soft-corner);
}

div[class^="markup_"]>pre>div {
	background-color: var(--_dark3) !important;
}

/* Video Playback */
div[class^="audioControls_"],
div[class^="videoControls_"]:not(.videoControls__40f61) {
	backdrop-filter: blur(var(--blur));
}

div[class^="wrapperPaused_"]>div>div[class^="iconWrapper_"] {
	opacity: 1;
	background-color: rgba(0, 0, 0, .6);
	backdrop-filter: blur(var(--blur));
	border-radius: 18px;
}

/* Text Mention */
div[class*="mentioned_"] {
	background-color: rgba(var(--theme-text-rgb), 0.15) !important;
	transition: background 0.2s;
}

div[class*="mentioned_"]:hover {
	background-color: rgba(var(--theme-text-rgb), 0.35) !important;
	transition: background 0.2s;
}

div[class*="mentioned_"]:before {
	background-color: var(--theme-text);
}

/* Message Hover Accessories */
.wrapper_c727b6 {
	background-color: var(--_dark3);
}

/* Attatchments */
.attachment_f3cf2c {
	background-color: var(--_dark3);
}

/* File upload Progress Bar */
div[class*="progressBar_"][style*="background-color: hsl(235"] {
	background-color: var(--theme-text-muted) !important;
}

/* Channel Text Area */
div[class^="channelTextArea_"] {
	background: transparent !important;
}

div[class^="scrollableContainer_"] {
	background-color: var(--_dark2);
	border-radius: 18px;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.35);
}

/* Buttons */
button[aria-label="Send a gift"] {
	display: none;
}

/* Reply */
div[class*="attachedBars_"] {
	background: transparent !important;
}

.replyBar_b64d74,
.threadSuggestionBar_b633f7 {
	background: rgba(var(var(--_dark3)-rgb), 0.4);
	backdrop-filter: blur(var(--blur));
}

/* Top Bar Guild Buttons */
/* Pinned Messages Box */
div[class^="messagesPopoutWrap_"] {
	background-color: var(--_dark3);
	max-height: 90vh !important;
	width: 30vw;
	border: 0.1px solid transparent;
	border-radius: var(--soft-corner);
}

.header_f5cc88 {
	background-color: var(--_dark3);
}

.messageGroupWrapper-1jf_7C {
	background-color: var(--_dark1);
}

div[class^="messagesPopoutWrap_"]>.footer_a3029c {
	background-color: var(--background-fourth);
}

/* Threads */
div[role="dialog"]>div[class*="container_"],
div[role="dialog"]>div>div[class^="header_"] {
	background-color: var(--_dark3);
}

div[role="dialog"]>div>div[class^="list_"]>div>div[role="button"] {
	background-color: var(--_dark2);
	border-color: transparent;
}

div[role="dialog"]>div>div[class^="header_"]>div[class^="searchBox"] {
	background-color: var(--_dark1);
	padding: 5px;
	border-radius: var(--soft-corner);
}

/* Inbox */
div[class*="friendRequestsButton_"] {
	background-color: var(--_dark1);
}

/* For You */
div[data-list-id="for-you"] {
	background-color: var(--_dark1);
}

/* Unreads */
.channelHeader__5d30c {
	background-color: var(--_dark2);
	border-radius: 12px;
	margin-bottom: 5px;
}

.messages_f7999e,
.container__56e52,
.messageContainer_aa7d14 {
	background-color: var(--_dark1);
	border-radius: 12px;
}

/* Forums */
/* Search Input Background */
textarea[style^="padding-right: 31.69px"] {
	background-color: var(--_dark1) !important;
}

/* Browse Channel Page Menu */
.theme-dark .container__7590f {
	background-color: var(--_dark3);
}

.header_d02e62>.container__7712a {
	background-color: var(--_dark1);
	padding: 7px;
	border-radius: var(--soft-corner);
}

/* Custom Server Icons */
@keyframes tooltip {
	from {
		left: 5px;
		top: 35px;
		opacity: 0;
		display: none;
	}

	to {
		left: 10px;
		top: 40px;
		opacity: 1;
		display: block;
	}
}

/* Lily's Comfy Corner */
[aria-label^="Lily's Comfy Corner"] .name_c08dbc::before {
	content: "__";
	background: url("https://i.mintlily.lgbt/MintMod_sm.png") center / 100% no-repeat;
	margin-right: 4px;
	color: transparent;
}

[aria-label^="Minty Labs"] .name_c08dbc::before {
	content: "__";
	background: url("https://mintylabs.dev/assets/img/Minty%20Labs_Final_512x.png") center / 100% no-repeat;
	margin-right: 4px;
	color: transparent;
}

[aria-label^="Totally Wholesome"] .name_c08dbc::before {
	content: "__";
	background: url("https://i.mintlily.lgbt/TW_Logo.png") center / 100% no-repeat;
	margin-right: 4px;
	color: transparent;
}