:root {
	--dv_theme-version: '4.3.1';
	/* RewriteNumber.Major/Feature.Minor/Bugfix.Hotfix */

	/* Self defined Variables */
	--dv_blur: 8px;
	--dv_blur-mac: 18px;
	--dv_dark_background_1: #191F22;
	--dv_dark_background_2: #1e2427;
	--dv_dark_background_3: #131719;
	--dv_theme-text: #EECCE0;
	--dv_theme-text-muted: #906D92;
	--dv_hsl_theme-value: 325;
	--dv_hsl_theme-muted-value: 297;
	--dv_theme-text-rgb: 238, 204, 224;
	--dv_theme-text-muted-rgb: 144, 109, 146;
	--dv_soft-corner: 0.6rem;
	--dv_soft-corner-roles: 0.45rem;
	--background-primary-rgb: 25, 31, 34;
	--background-tertiary-rgb: 19, 23, 25;
	--dv_background-modifier-selected: rgba(var(--dv_theme-text-rgb), 0.2);
	--dv_background-modifier-hover: rgba(var(--dv_theme-text-rgb), 0.3);
	--font-primary: "Baloo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-display: "Baloo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-headline: "Baloo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-monospace: "Monaspace Krypton", "Cascadia Mono", sans-serif;

	/* Discord Variable Overrides */
	--background-primary: var(--dv_dark_background_1) !important;
	--background-secondary: var(--dv_dark_background_1) !important;
	--background-secondary-alt: var(--dv_dark_background_2) !important;
	--background-tertiary: var(--dv_dark_background_3) !important;
	--channeltextarea-background: var(--dv_dark_background_3) !important;
	--modal-background: var(--dv_dark_background_1) !important;
	--toast-background: var(--dv_dark_background_1) !important;
	--toast-header: var(--dv_dark_background_1) !important;
	--toast-contents: var(--dv_dark_background_2) !important;
	--background-floating: var(--dv_dark_background_3) !important;
	--profile-body-background-color: var(--dv_dark_background_3) !important;
	--activity-card-background: var(--dv_dark_background_3) !important;
	--home-background: var(--dv_dark_background_3) !important;
	--background-accent: var(--dv_theme-text-muted) !important;
	--background-fourth: var(--dv_dark_background_2) !important;
	--profile-border-width: 2px;
	--text-link: var(--dv_theme-text);
	--text-link-low-saturation: var(--dv_theme-text-muted);
	--brand-experiment: rgb(var(--dv_theme-text-muted-rgb));
	--brand-experiment-05a: hsla(var(--dv_hsl_theme-value), calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.05) !important;
	--brand-experiment-10a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.1) !important;
	--brand-experiment-15a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.15) !important;
	--brand-experiment-20a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.2) !important;
	--brand-experiment-25a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.25) !important;
	--brand-experiment-30a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.3) !important;
	--brand-experiment-35a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.35) !important;
	--brand-experiment-40a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.4) !important;
	--brand-experiment-45a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.45) !important;
	--brand-experiment-50a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.5) !important;
	--brand-experiment-55a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.55) !important;
	--brand-experiment-60a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.6) !important;
	--brand-experiment-65a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.65) !important;
	--brand-experiment-70a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.7) !important;
	--brand-experiment-75a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.75) !important;
	--brand-experiment-80a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.8) !important;
	--brand-experiment-85a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.85) !important;
	--brand-experiment-90a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.9) !important;
	--brand-experiment-95a: hsla(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.95) !important;
	--brand-experiment-200: hsl(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 85.6%), 97%) !important;
	--brand-experiment-600: hsl(var(--dv_hsl_theme-muted-value) calc(var(--saturation-factor, 1) * 15%), 50%) !important;
	--brand-experiment-500: hsl(var(--dv_hsl_theme-muted-value) calc(var(--saturation-factor, 1) * 15%), 50%) !important;
	/* 	--brand-experiment-530: hsl(var(--dv_hsl_theme-muted-value) calc(var(--saturation-factor, 1) * 15%), 50%) !important; */
	--brand-experiment-560: hsl(var(--dv_hsl_theme-muted-value) calc(var(--saturation-factor, 1) * 15%), 50%) !important;
	--brand-experiment-400: hsl(var(--dv_hsl_theme-muted-value) calc(var(--saturation-factor, 1) * 15%), 50%) !important;
	--brand-experiment-430: hsl(var(--dv_hsl_theme-muted-value) calc(var(--saturation-factor, 1) * 15%), 50%) !important;
	--brand-500: var(--dv_theme-text-muted) !important;
	--brand-260: hsl(var(--dv_hsl_theme-value) calc(var(--saturation-factor, 1) * 50%), 87%) !important;
	--brand-260-hsl: 335 calc(var(--saturation-factor, 1) * 86.2%) 88.6% !important;
	--primary-630: var(--dv_dark_background_2) !important;
	--mention-background: rgba(var(--dv_theme-text-muted-rgb), 0.3);
	--control-brand-foreground: var(--dv_theme-text-muted);
	--divider-color: var(--dv_theme-text);
	--text-brand: var(--dv_theme-text);
	--scrollbar-thin-thumb: var(--dv_dark_background_3);
	--scrollbar-auto-thumb: var(--dv_dark_background_3);
	--scrollbar-auto-track: var(--dv_dark_background_2);
	--scrollbar-auto-scrollbar-color-thumb: var(--dv_dark_background_3);
	--scrollbar-auto-scrollbar-color-track: var(--dv_dark_background_2);
	--context-menu-radius: var(--dv_soft-corner);
	--text-positive: var(--dv_theme-text);
	--input-background: var(--dv_dark_background_3) !important;
	--bg-surface-overlay: var(--dv_dark_background_2) !important;

	/* nolongerPowercord - Replugged Variables */
	--spotify-color: var(--dv_theme-text);
}

/* devanagari */
@font-face {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/baloo2/v16/wXK0E3kTposypRydzVT08TS3JnAmtdgazZpp_led7Q.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* vietnamese */
@font-face {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/baloo2/v16/wXK0E3kTposypRydzVT08TS3JnAmtdgazZpn_led7Q.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/baloo2/v16/wXK0E3kTposypRydzVT08TS3JnAmtdgazZpm_led7Q.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/baloo2/v16/wXK0E3kTposypRydzVT08TS3JnAmtdgazZpo_lc.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Monaspace - https://github.com/githubnext/monaspace */
@font-face {
	font-family: 'Monaspace Argon';
	font-style: normal;
	font-weight: 400;
	src: url(https://mintylabs.dev/assets/extras/MonaspaceArgon-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Monaspace Krypton';
	font-style: normal;
	font-weight: 400;
	src: url(https://mintylabs.dev/assets/extras/MonaspaceKrypton-Regular.woff2) format('woff2');
}

.info__755e1::before {
	content: 'Dark Vanilla ' var(--dv_theme-version);
	color: var(--dv_theme-text-muted);
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
}

/* Windows 10/11 TitleBar */
div[class*="titleBar_"] {
	height: 28px;
}

div[class*="withFrame_"] {
	height: 32px;
	margin-top: 0px;
}

div[class*="winButton_"] {
	height: 32px;
	width: 32px;
	top: 0;
	padding-left: 8px;
	padding-right: 8px;
	cursor: default;
}

.winButton__88672,
.winButton__88672[aria-label="Maximize"],
.winButton__88672[aria-label="Minimize"] {
	color: #fff;
	transition: ease-in-out 0.125s;
}

div[class*="winButtonMinMax_"]:nth-child(4):hover {
	background-color: #FAA61A;
	color: white;
	transition: ease-in-out 0.125s;
}

div[class*="winButtonMinMax_"]:nth-child(3):hover {
	background-color: #3BA55C;
	color: white;
	transition: ease-in-out 0.125s;
}

div[class*="wordmark_"] {
	position: absolute;
	left: 50%;
	top: 16px !important;
	transform: translate(-50%, -50%);
	padding: 10px;
	color: var(--dv_theme-text-muted);
}

/* Light/dark mode indicator on title bar */
div[class*="titleBar_"]::after {
	position: absolute;
	top: 1px;
	right: 184px;
	height: 18px;
	padding: 4px;
	line-height: 23px;
	font-size: 14px;
	letter-spacing: 0;
	color: var(--dv_theme-text-muted);
	font-family: var(--font-primary);
}

.theme-dark div[class*="titleBar_"]::after {
	content: 'Dark Vanilla v' var(--dv_theme-version);
}

/* Media Opening */
div[class^="backdrop_"][class*="withLayer_"][style="opacity: 0.85; background: rgb(0, 0, 0);"],
div[class^="backdrop_"][class*="withLayer_"][style="opacity: 0.85; background: var(--black-500);"] {
	background-color: rgba(0, 0, 0, 0.45) !important;
}

div[class^="layer_"] {
	backdrop-filter: blur(var(--dv_blur));
}

/* Anything Main and or Global */
/* Right Click Context Menu */
div[class*="menu__"]:not(div[class^="userPopoutOverlayBackground_"] > div[class*="menu__"]) {
	background-color: var(--dv_dark_background_3);
	border-radius: var(--dv_soft-corner);
}

div[class^="item__"] {
	border-radius: calc(var(--dv_soft-corner) / 2);
}

div[class^="item__"][class*="focused_"] {
	background-color: var(--dv_theme-text-muted) !important;
	border-radius: var(--dv_soft-corner);
}

/* Hyperlink */
a[href]:not(a[aria-label], a[data-list-item-id]) {
	color: var(--dv_theme-text);
}

a[href]:not(a[aria-label], a[data-list-item-id]):hover {
	color: rgba(var(--dv_theme-text-rgb), 0.8);
}

/* Private Channel Selection */
div[class*="interactiveSelected_"][class*="selected_"] {
	background: var(--dv_background-modifier-selected);
	border-radius: var(--dv_soft-corner);
}

div[class*="interactive_"]:focus-within,
div[class*="interactive_"]:hover {
	background: var(--dv_background-modifier-hover);
	border-radius: var(--dv_soft-corner);
}

/* Guild Header Menu, Guild, Message, Message, User, Channel Context Menu */
div[class^="menu_"][class*="fixed_"],
div[class^="menu_"]#guild-context,
div[class^="menu_"]#message,
div[class^="menu_"]#message-actions,
div[class^="menu_"]#user-context,
div[class^="menu_"]#channel-context {
	background-color: var(--dv_dark_background_2) !important;
	border-radius: var(--dv_soft-corner);
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.35);
}

/* Top Left Discord Logo Background Inactive */
div[data-list-item-id="guildsnav___home"]>div[class^="childWrapper_"],
div[data-list-item-id="guildsnav___favorites"]>div[class^="childWrapper_"] {
	background-color: rgba(var(--dv_theme-text-rgb), 0.35);
}

/* Top Left top window */
div[class^="base_"],
div[class^="sidebar_"] {
	border-radius: var(--dv_soft-corner) 0 0 0;
}

/* Emoji/Sticker/GIF Popup Box */
/* Footer Color fix */
#emoji-picker-tab-panel>div[class^="wrapper__"] {
	background-color: var(--dv_dark_background_3) !important;
}

div[class*="inspector_"] {
	background-color: var(--background-fourth) !important;
}

/* GIFs Stickers Emoji NavTab Buttons */
button[class*="navButtonActive_"],
button[class*="navButtonActive_"]:hover {
	background: var(--dv_background-modifier-selected);
}

button[class*="navButton_"]:hover {
	background: var(--dv_background-modifier-selected);
	border-radius: 4px;
}

/* GIF Category Header */
#gif-picker-tab-panel>div[class^="header"] {
	margin-top: 10px;
}

/* Input */
.container_ec5ce2 {
	background-color: var(--dv_dark_background_3);
	border-radius: var(--dv_soft-corner);
}

/* Emoji/Sticker background */
.stickerInspected__1c897 .inspectedIndicator_f00108,
div[class*="categoryItemDefaultCategorySelected_"],
div[class*="categoryItemDefaultCategorySelected_"]:hover,
.emojiItem_b15dee.emojiItemSelected__1a09a {
	background-color: var(--dv_background-modifier-selected);
}

/* Diversity Selection */
div[class^="diversitySelectorOptions_"] {
	background-color: var(--dv_dark_background_3);
	border: 0.1px solid transparent;
	border-radius: var(--dv_soft-corner);
}

/* Message React Emoji Picker Backgrounds */
.contentWrapper_eab878 {
	background-color: var(--dv_dark_background_2);
}

/* Main Page */
div[class^=peopleListItem_]:hover {
	background-color: var(--dv_background-modifier-hover);
	transition: 0.05s;
}

/* Friends Tab Selected: x */
/* x = Online */
.theme-dark #online-tab {
	background-color: var(--background-secondary);
}

/* x = All */
.theme-dark #all-tab {
	background-color: var(--background-secondary);
}

/* x = Pending */
.theme-dark #pending-tab {
	background-color: var(--background-secondary);
}

/* x = Blocked */
.theme-dark #blocked-tab {
	background-color: var(--background-secondary);
}

/* x = Add Friend */
div[aria-label="Add Friend"] {
	border-radius: calc(var(--dv_soft-corner) / 1.25) !important;
	background-color: var(--dv_theme-text-muted) !important;
	transition: 0.1s;
}

div[aria-label="Add Friend"]:hover {
	background-color: var(--dv_theme-text) !important;
	color: var(--dv_dark_background_2) !important;
	transition: 0.1s;
}

div[aria-label="Add Friend"][aria-selected="true"] {
	color: #eee !important;
	border: 2px solid var(--text-positive);
}

div[aria-label="Add Friend"][aria-selected="true"]:hover {
	color: var(--dv_dark_background_2) !important;
}

section[class*="container"][class*="themed"] {
	background-color: var(--dv_dark_background_1);
}

/* Notification Badge */
div[class*="numberBadge_"] {
	background-color: var(--dv_theme-text-muted) !important;
	/*color: var(--background-fourth);*/
}

/* List Box */
div[role=listbox][class*="popout"] {
	background-color: var(--dv_dark_background_2);
	border-radius: var(--dv_soft-corner);
}

div[role=listbox][class*="popout"]>div[role="option"]:hover {
	background-color: var(--dv_background-modifier-hover);
}

div[role=listbox][class*="popout"]>div[role="option"][aria-selected="true"] {
	background-color: var(--dv_background-modifier-selected);
}

/* Switch Toggles */
div[class*="container_"][class*="checked_"] {
	background-color: var(--dv_theme-text-muted) !important;
}

div[class*="container_"]>svg>rect {
	fill: var(--dv_dark_background_2) !important;
}

div[class*="container_"]>svg>svg>path {
	fill: var(--dv_theme-text) !important;
}

/* User Popout */
#popout_4397[class="theme-dark layer_ec16dd"] {
	box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2);
}

/* Normal */
/* Background (No profile color) */
div[class*="userProfileInnerThemedNonPremium_"] {
	box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2);
	background: var(--dv_dark_background_1) !important;
}

[class*="userProfileModalInner_"]:before {
	display: none;
}

[class*='fullSizeOverlayBackground_'] {
	background: rgb(var(--bg-overlay-color)/.6) !important;
}

[class*="userProfileOuterThemed_"] [class*="body_"]:not([class*='bodyNormal'])>[class*="container_"] {
	margin-bottom: 8px;
}

/* Background Tint */
[class*="userProfileOuterThemed_"] [class*="body_"]:not([class*='bodyNormal'])>[class*="container_"]:after {
	content: '';
	position: fixed;
	left: 0.5rem;
	width: calc(100% - 1rem);
	height: -webkit-fill-available;
	z-index: -1;
	margin-top: 8px;
	margin-bottom: 0.5rem;
	border-radius: var(--radius-sm) var(--radius-sm) calc(var(--radius-sm)/2) calc(var(--radius-sm)/2);
	background: rgb(var(--bg-overlay-color)/.6);
	border: var(--profile-body-border-color) 0.8px solid;
}

/* username/pronouns text */
[class*="userProfileOuter"] h1,
[class*="userProfileOuter"] span[class*='userTagUsername_'],
[class*="userProfileOuter"] div[class*='pronouns_'] {
	text-shadow: rgb(var(--bg-overlay-color)/0.3) 1px 0 px;
}

/* Non-nitro fix */
[class*="userProfileOuterUnthemed_"] [class*="userPopoutInner_"][class*="biteSizeInnerThemed_"]>[class*='body_']>div:not([class*="container_"]):not([class*="container_"]+div[class*="mutual"]) {
	border-top: var(--bg-mod-faint) 1px solid;
}

/* extra padding */
[class*="userPopoutInner_"][class*="biteSizeInnerThemed_"]>[class*='body_']>div:not([class*="container_"]):not(div:has([aria-label='Roles'])) {
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

/* Footer Message */
[class*="userProfileOuterThemed_"] [class*='footer_'] [class*='themedBackground_'] {
	background: rgb(var(--bg-overlay-color)/.4) !important;
}

/* Badge Container */
[class*="userProfileOuterThemed_"] [class*="userPopoutInner_"] [class*="container__"] {
	background: rgb(var(--bg-overlay-color)/.6) !important;
	border-radius: var(--radius-sm);
}

/* Unclamp Bio */
[class*='descriptionClamp_'] {
	-webkit-line-clamp: 10
}

/*[class*='viewFullBio__'] {display: none;}  */

/* pfp position fix */
[class*="userProfileOuterThemed_"] [class*="userPopoutInner_"] [class*="clickable_"] {
	top: 58px;
	left: 18px;
	transform: scale(1.04);
}

[class*="userProfileOuterThemed_"] [class*="userPopoutInner_"] [class*="clickable_"] circle:not(svg) {
	opacity: 0 !important;
}

/* slimmer status bubble */
[class*="statusBubbleWithTextPadding_"] {
	padding: 5px 10px;
}

/* Profile Action Button */
div[class*=biteSize__]>div>button[class*=color] {
	background-color: rgba(0, 0, 0, 0.35);
	backdrop-filter: blur(var(--dv_blur));
}

div[class*=biteSize__]>div>button[class*=color]:hover {
	background-color: var(--dv_background-modifier-hover);
	transition: 0.2s;
}

/* Profile Link Verified Badge */
svg[class*="flowerStar"] path {
	fill: var(--dv_theme-text-muted);
}

/* Application Buttons */
[class*="lookLink_"],
[class*="lookInverted_"],
[class*="lookFilled_"],
[class*="lookOutlined_"] {
	border-radius: var(--dv_soft-corner);
}

[class*="lookLink_"]:hover,
[class*="lookInverted_"]:hover,
[class*="lookFilled_"]:hover {
	background-color: var(--dv_theme-text) !important;
	color: var(--dv_dark_background_2);
}

/* Lily's Website Icons */
img[aria-label="mili.lgbt"] {
	content: url("https://i.mintlily.lgbt/MintMod_flat.png");
}

img[aria-label="mintlily.lgbt"] {
	content: url("https://mintlily.lgbt/assets/img/Lily.png");
	border-radius: 50%;
}

img[aria-label="mintylabs.dev"] {
	content: url("https://mintylabs.dev/assets/img/favicon.png");
}

/* Change X back to twitter */
img[src*="/assets/86405e363b6311e00c44.svg"] {
	content: url("https://i.mintlily.lgbt/85cf2b49d2a185c98ec8e383ad5a05d6.svg");
}

a[title="Twitter"]>svg>path {
	d: path("M8.2177 20.2976C15.798 20.2976 19.9327 14.0329 19.9327 8.58261V8.05011C20.7362 7.46091 21.435 6.74089 22 5.92012C21.2567 6.26235 20.4637 6.48437 19.6507 6.57791C20.5139 6.06164 21.1597 5.24885 21.4675 4.2913C20.6598 4.76183 19.7822 5.10021 18.8677 5.29365C17.3053 3.64491 14.7069 3.56109 13.0415 5.10571C11.9701 6.10222 11.5157 7.59694 11.8512 9.02114C8.54594 8.85772 5.46574 7.29769 3.37823 4.72983C2.28095 6.60789 2.84519 9.01622 4.66249 10.2114C4.00661 10.1858 3.36464 10.0146 2.78309 9.71026V9.7729C2.78257 11.7293 4.15628 13.417 6.07204 13.8136C5.46884 13.9751 4.83671 13.9965 4.22396 13.8763C4.76475 15.5538 6.31437 16.7003 8.07674 16.7267C6.62377 17.8749 4.82287 18.4936 2.97103 18.4808C2.65779 18.4808 2.31323 18.4495 2 18.4182C3.84433 19.6513 6.0148 20.3057 8.23336 20.2976");
}

/* Spotify Panel / Plugin / Vanilla Things Edits */
#vc-spotify-progress-bar>div>div>div>div[class^="barFill_"] {
	box-shadow: 0px 5px 10px var(--dv_theme-text);
}

div[class*="barInner"] {
	box-shadow: 0px 0px 10px #fff;
}

img[class*="assetsLargeImageSpotify_"],
#vc-spotify-album-image {
	border-radius: var(--dv_soft-corner) !important;
}

.vc-spotify-button:hover {
	background-color: var(--dv_background-modifier-selected) !important;
	border-radius: var(--dv_soft-corner);
	transition: border-radius 0.1s;
}

#vc-spotify-player {
	background: transparent !important;
	position: relative;
}

#vc-spotify-player::before,
#vc-spotify-player::after {
	z-index: -1;
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	border-color: transparent;
}

#vc-spotify-player::before {
	background: var(--vc-spotify-track-image);
	background-size: cover;
	background-position: center;
}

#vc-spotify-player::after {
	backdrop-filter: blur(var(--dv_blur)) brightness(40%);
}

#vc-spotify-player .barFill__30e17 {
	background: var(--vc-spotify-track-image);
	background-size: contain;
	backdrop-filter: blur(var(--dv_blur)) brightness(250%);
	opacity: 0.4;
	border-radius: var(--dv_soft-corner);
}

#vc-spotify-player .grabber_d2868c {
	opacity: 1 !important;
}

#vc-spotify-player .grabber_d2868c::after {
	position: absolute;
	background: var(--vc-spotify-track-image);
	background-size: 10px 10px;
	backdrop-filter: blur(var(--dv_blur));
	overflow: hidden !important;
}

/* Server Roles */
div[class^="role_"][class*="pill_"]:not(button[class^="compactButton__"]) {
	background:
		linear-gradient(var(--dv_dark_background_2) 0 0) padding-box,
		linear-gradient(to right, var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color)) border-box;
	border: 0.025rem solid transparent;
	border-radius: var(--dv_soft-corner-roles);
}

/* plus number */
div[class^="showMoreButton__"][class*="pill_"] {
	background:
		linear-gradient(var(--dv_dark_background_2) 0 0) padding-box,
		linear-gradient(to right, var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color)) border-box;
	border: 0.025rem solid transparent;
	border-radius: var(--dv_soft-corner-roles);
}

/* Add Button */
button[class^="compactButton__"] {
	background-color: var(--dv_dark_background_2) !important;
	border: 0.025rem solid var(--dv_dark_background_2);
	border-radius: calc(var(--dv_soft-corner-roles) * 1.1489786518);
	transition: background 0.1s;
}

button[class^="compactButton__"]:hover {
	background-color: var(--dv_background-modifier-hover) !important;
	border: 0.025rem solid var(--dv_background-modifier-hover);
	transition: background 0.1s;
}

div[data-list-item-id^="roles-"] {
	background: var(--dv_dark_background_2);
	border-radius: var(--dv_soft-corner-roles);
}

/* Connected Accounts */
div[class*="connectedAccountContainer"] {
	background-color: rgba(255, 255, 255, 0.05);
	border-color: transparent;
	border-radius: var(--dv_soft-corner);
}

/* User Popout Outer (Bottom Left) */
div[class^="userPopoutOverlayBackground_"]>.menu_dc52c6 {
	background-color: transparent;
}

div[class*="menuItemFocused__"] {
	background-color: var(--dv_background-modifier-hover);
	border-radius: var(--dv_soft-corner);
}

/* User Popout Large */
/* Profile Info Categories */
.top_fae1fa .selected_a523ff.themed_b957e8.item__48dda {
	transition: all 0.2s;
	border-color: var(--dv_theme-text);
}

.top_fae1fa .themed_b957e8.item__48dda:hover {
	transition: all 0.2s;
	border-color: var(--dv_theme-text-muted);
}

/* Shrink server banners to header instead of disappearing. */
[class*="animatedContainer_"] {
	opacity: 1 !important;
	transition: opacity 0.5s;
}

[class*="animatedContainer_"]>[class*="bannerImage_"] {
	transition: margin 0.5s;
}

:not([class*="bannerVisible_"])>[class*="animatedContainer_"] {
	opacity: 0.35 !important;
	height: 138px;
}

:not([class*="bannerVisible_"])>[class*="animatedContainer_"]>[class*="bannerImage_"] {
	margin-top: -12px;
}

header[class*="header"] {
	backdrop-filter: blur(var(--dv_blur)) !important;
}

[class*="hasBanner"] [class*="header"],
[class*="hasBanner"] [class*="header"]:hover {
	backdrop-filter: blur(0px) !important;
}

/* Server Channel Selection */
div[class*="modeSelected"]>div>a[data-list-item-id^="channels"][class^="link"],
/* Server Page Menus */
li[class*="modeSelected"]>div[class^="link"] {
	background-color: var(--dv_background-modifier-selected);
	border-radius: var(--dv_soft-corner);
}

div[class*="wrapper"]:hover>div>a[data-list-item-id^="channels"][class^="link"],
div[class*="typeThread"]:hover>div[data-list-item-id^="channels"][class^="link"],
/* Server Page Menus */
li[class*="wrapper"]:hover>div[class^="link"] {
	background-color: var(--dv_background-modifier-hover);
	border-radius: var(--dv_soft-corner);
}

/* User Area Panel */
section[class^="panels_"] {
	margin-right: 6px;
	margin-bottom: 10px;
	border: solid transparent 0.1px;
	border-radius: 18px;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.35);
	background-color: var(--dv_dark_background_2);
	scale: 90%;
}

section[class^="panels_"]>div {
	background-color: transparent !important;
}

div[class^="avatarWrapper_"]:hover {
	border-radius: var(--dv_soft-corner);
	background-color: var(--dv_background-modifier-selected);
}

div[class^="flex_"][class*="alignStretch_"]>button:hover {
	border-radius: var(--dv_soft-corner);
	background-color: var(--dv_background-modifier-selected);
	color: var(--dv_dark_background_2);
}

/* Voice Connected */
section[class^="panels_"]>div>div[class^="container_"] {
	background-color: transparent;
}

div[class^="animatorTop_"]>div[class^="container_"] {
	background-color: var(--dv_dark_background_2);
	border-radius: var(--dv_soft-corner);
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.35);
}

/* Member List */
/* Role Color Background */
div[class^="member_"] span[style*="rgb("]::after {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.125;
	background: currentColor;
	border: 0 solid transparent;
	border-radius: var(--dv_soft-corner);
}

div[class^="memberInner_"]>div[class^="avatar__"]>div {
	z-index: 50;
}

div[class^="member_"][data-list-item-id^="members-"] {
	margin-bottom: 5px;
}

/* Subtext */
div[class^="activityText__"] {
	color: var(--dv_theme-text);
}

div[class^="activityText__"] strong {
	font-weight: 600;
}

div[class^="activity_"]>svg[class^="icon__"] path {
	fill: var(--dv_theme-text);
}

/* Notice Panel */
div[class^="membersListNotices_"] {
	width: 0px;
}

/* App/Official Text/Badge */
span[class*=botText] {
	font-weight: 500;
	font-size: 10px !important;
}

/*-------------*/

/* Reply Click Background flash */
div[class*="backgroundFlash"] {
	background: linear-gradient(270deg, var(--dv_theme-text-muted), transparent);
	background-size: 400% 400%;
	-webkit-animation: reply 2s ease 3;
	-moz-animation: reply 2s ease 3;
	animation: reply 2s ease 3;
}

@-webkit-keyframes reply {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes reply {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@keyframes reply {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

/* Edited Message Timestamp */
.timestamp_c79dd2:not(span[class*="timestampInline__"], span[class*="timestampVisibleOnHover__"]) time::after {
	content: " (" attr(aria-label) ")";
	color: var(--text-muted);
	font-size: 0.625rem;
	font-weight: 400;
	line-height: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform: lowercase;
}

.edited_b20dd9 {
	display: none;
}

/* Message Reaction */
div[class^="reaction__"] {
	background-color: var(--dv_dark_background_3);
}

/* Guild Selected Pill Color */
.item_f9d377 {
	background-color: var(--dv_theme-text);
}

/* Stickers onClick */
div[class^="popoutContainer__"] {
	background-color: var(--dv_dark_background_3);
	border-radius: var(--dv_soft-corner);
}

div[class^="guildSection_"] {
	background-color: var(--background-fourth);
}

/* Upload Popup */
.theme-dark div[class^="uploadModal_"],
.theme-dark div[class^="footer_"] {
	background-color: var(--dv_dark_background_1);
}

.theme-dark [class*="checkbox_"]>svg>path[fill*="hsl(235"] {
	fill: var(--dv_theme-text);
}

@keyframes expand_attachment_areabox {
	from {
		height: 0;
	}

	to {
		height: 218px;
	}
}

ul[class*="channelAttachmentArea_"] {
	animation-name: expand_attachment_areabox;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

.attachButtonPlay-1ATmb5 {
	color: var(--dv_theme-text);
}

/* Jump To Present Bar */
[class*="jumpToPresentBar"] {
	display: contents;
}

[class*="jumpToPresentBar"]>button:first-child {
	display: none;
}

[class*="jumpToPresentBar"]>button:last-child {
	position: absolute;
	bottom: 15px;
	right: 16px;
	padding: 8px !important;
	height: auto;
	box-shadow: var(--elevation-high);
	border-radius: 100px;
	display: flex;
	font-size: 0;
	color: transparent;
	transition: font-size 0.2s 0.1s, color 0.2s, padding 0.4s 0.1s;
	background-color: rgba(var(--background-tertiary-rgb), 0.6);
	backdrop-filter: blur(var(--dv_blur-mac));
	z-index: 100;
}

[class*="jumpToPresentBar"]>button svg {
	order: -1;
	margin: 0;
	height: 24px;
	width: 24px;
	top: unset;
	margin-right: 2px;
	margin-left: 0;
	color: var(--dv_theme-text);
	transition: margin 0.6s;
}

[class*="jumpToPresentBar"]:hover>button {
	padding: 8px 18px !important;
	font-size: 14px;
	color: var(--text-normal);
	transition: font-size 0.2s, color 0.2s 0.1s, padding 0.4s;
}

[class*="jumpToPresentBar"]:hover>button svg {
	margin-right: 2px;
	margin-left: -6px;
}

/* Server Settings Open */
/* Stickers */
div[class*="tierHeaderUnlocked_"],
div[class*="tierHeaderLocked_"] {
	background-color: var(--dv_dark_background_3) !important;
}

div[class]>div[class^="grid_"]>div[class^="wrapper_"]:focus-within,
div[class]>div[class^="grid_"]>div[class^="wrapper_"]:hover {
	background-color: var(--dv_background-modifier-hover);
}

div[class*="tierBody_"],
div[class*="tierInProgress_"] {
	background-color: var(--dv_dark_background_3) !important;
}

rect[class^="background"] {
	color: var(--dv_dark_background_3) !important;
}

/* Widgets */
div[class*="copyInput_"] {
	background-color: var(--dv_dark_background_3);
	border: 0.1px solid transparent;
	border-radius: var(--dv_soft-corner);
}

/* Server Templates */
input[class*="input_"]:not([aria-label="Search"], [placeholder^="Message"]) {
	background-color: var(--dv_dark_background_3) !important;
	border-radius: var(--dv_soft-corner);
}

/* Integrations */
.theme-dark .card_fd0d59 {
	background-color: var(--dv_dark_background_3);
	border-radius: var(--dv_soft-corner);
	border-color: transparent;
}

div[class^="cardHeader_"] {
	background-color: var(--dv_dark_background_2);
	border-radius: var(--dv_soft-corner);
}

/* Integrations > Webhooks */
.theme-dark .card__05cf8 {
	border-color: transparent !important;
}

div[class*="cardPrimary_"][class*="editable_"] {
	background-color: var(--dv_dark_background_3);
	border-radius: var(--dv_soft-corner);
}

/* App Directory */
.theme-dark div[class^="directoryContainer_"] {
	background-color: var(--dv_dark_background_2);
}

.card__834d4 {
	background-color: var(--dv_dark_background_1);
}

/* Saftey Setup */
div[class^="safetyChecklist__"] {
	background-color: var(--dv_dark_background_3);
	border-radius: var(--dv_soft-corner);
}

/* Audit Log */
div[class^="headerClickable_"],
div[class^="headerDefault_"] {
	background-color: var(--dv_dark_background_3) !important;
	border-radius: var(--dv_soft-corner);
}

div[class^="headerExpanded_"] {
	background-color: var(--dv_dark_background_3) !important;
	border-top-left-radius: var(--dv_soft-corner);
	border-top-right-radius: var(--dv_soft-corner);
}

div[class^="changeDetails_"] {
	background-color: var(--dv_dark_background_2) !important;
	border-bottom-left-radius: var(--dv_soft-corner);
	border-bottom-right-radius: var(--dv_soft-corner);
}

/* Members */
.divider_a2339a {
	border: none;
}

.theme-dark .card_dc88cd {
	padding: 15px;
	background-color: var(--dv_dark_background_3);
	border-radius: var(--dv_soft-corner);
	margin: 2px;
}

/* === Settings Opened === */
.topPill__63ad4 .themed_b957e8.selected_a523ff.item__48dda,
.side_b4b3f6 .themed_b957e8.selected_a523ff.item__48dda {
	background: var(--dv_background-modifier-selected);
	border-radius: var(--dv_soft-corner);
}

.topPill__0cdf1 .themed_b957e8.item__48dda:hover:not(.disabled__85bca),
.side_b4b3f6 .themed_b957e8.item__48dda:hover:not(.disabled__85bca) {
	background: var(--dv_background-modifier-hover);
	border-radius: var(--dv_soft-corner);
}

div[class*="header_"]>div[class*="eyebrow_"] {
	font-size: 13px;
	text-decoration: underline;
}

div[class*="headerText_"] {
	overflow-x: unset;
}

/* User Profile */
.theme-dark .bioTextArea_a108c9,
.theme-light .bioTextArea_a108c9 {
	border-radius: var(--dv_soft-corner);
}

/* Privacy & Safety */
div[class*="itemFilled_"][aria-checked=true] {
	background-color: var(--dv_background-modifier-selected);
}

/* Authorized Apps */
div[class*="authedApp"] {
	background-color: var(--dv_dark_background_3);
	border-color: transparent;
	border-radius: var(--dv_soft-corner);
}

/* Devices */
/* Connections */
div[class*="accountList"] {
	background-color: rgba(var(--dv_theme-text-muted-rgb), 0.1);
	border-color: transparent;
	border-radius: var(--dv_soft-corner);
}

button[class*="accountButtonInner_"] {
	background-color: rgba(var(--dv_theme-text-muted-rgb), 0.2);
}

.connection_fff5f6 {
	background-color: var(--dv_dark_background_3);
}

/* Server Boost */
div[class^="guildContainer_"],
div[class^="recommendedServerCard_"] {
	background-color: var(--dv_dark_background_3);
}

div[class^="boostContainer_"] {
	background-color: var(--dv_dark_background_2);
}

/* Billing */
div[class^="paymentPane_"],
div[class*="paginator__"],
div[class*="bottomDivider_"] {
	background-color: var(--dv_dark_background_3) !important;
}

div[class*="bottomDivider_"] {
	border-bottom-color: rgba(255, 255, 255, .1)
}

div[class^="pageButtonPrev__"],
.pageButtonPrev__9ee28 {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

div[class^="pageButtonNext_"] {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

/* Accessibility */
button[class*="lookFilled"][class*="colorBrandNew"] {
	background-color: var(--dv_theme-text-muted);
}

/* Log Out */
div[class^="tabBarItemContainer_"] {
	color: #D83C3E;
}

/* === END Settings Opened === */

/* Message Unread */
/* New Message Bar */
div[class^="newMessagesBar_"] {
	width: 65%;
	top: 1.6rem;
	left: auto;
	right: 12px;
	border-radius: 0.7rem 0 0 0.7rem;
	float: right;
	background-color: var(--dv_theme-text-muted);
}

/* Inline with Messages */
.unreadPill__1b4fa {
	background-color: var(--dv_theme-text);
	color: var(--dv_dark_background_3) !important;
	fill: var(--dv_theme-text);
}

path[class^="unreadPillCapStroke"] {
	fill: var(--dv_theme-text);
	color: var(--dv_theme-text);
}

ol[class^="scrollerInner"]>div[class^="divider__"] {
	border-color: var(--dv_theme-text);
}

div[class^="divider__"]>span[class^="content__"] {
	color: var(--dv_theme-text);
}

span[class^="endCap__"]:not(span[class*="unreadPill__"]) {
	color: var(--dv_dark_background_3) !important;
}

/* Inline with Messages */
/* Spoiler Box */
span[class^=spoilerContent__] {
	background-color: var(--dv_dark_background_3);
	border-radius: var(--dv_soft-corner);
}

span[class^=spoilerContent__]:hover {
	background-color: var(--dv_dark_background_2);
}

/* Text File Preview */
div[class^="textContainer__"],
.shiki-container,
div.shiki-root {
	background-color: var(--dv_dark_background_3) !important;
}

.footer__90194 {
	background-color: var(--dv_dark_background_2);
}

span[class*="formattedSize__"] {
	color: #888;
}

/* Embeds */
article[class*="embedFull"] {
	background: var(--dv_dark_background_3) !important;
}

article[class*="embed_"] {
	border-top-right-radius: var(--dv_soft-corner);
	border-bottom-right-radius: var(--dv_soft-corner);
}

.theme-dark div[class^="wrapperAudio__"] {
	background: var(--dv_dark_background_3);
	border-radius: var(--dv_soft-corner);
}

div[class*="audioControls_"] {
	border-radius: var(--dv_soft-corner);
	background-color: var(--dv_dark_background_2);
	padding: 3px;
}

div[class^="hoverButtonGroup__"],
div[class^="hoverButtonGroup__"][class*="nonMediaAttachment_"] {
	background-color: var(--dv_background-modifier-hover);
}

/* Images in Message */
div[class^="imageWrapper_"][class*="clickable_"] {
	border-radius: var(--dv_soft-corner);
}

div[class^="hoverButtonGroup_"] {
	background-color: rgba(var(--background-tertiary-rgb), 0.6);
	backdrop-filter: blur(var(--dv_blur));
	border-radius: var(--dv_soft-corner);
}

/* Re-enable size changing videos 
.attachmentContentItem_ef9fc2 {
	width: unset !important;
	height: unset !important;
}

.loadingOverlay__4d818 {
	aspect-ratio: unset !important
}*/

/* Code Markup */
[class^="markup_"] code {
	background-color: var(--dv_dark_background_3) !important;
	border-radius: var(--dv_soft-corner);
	font-family: var(--font-monospace);
}

[class^="markup_"] [class*=inline]:not(span) {
	padding: 3px;
	font-family: var(--font-monospace);
	background-color: var(--dv_dark_background_3) !important;
	border-radius: var(--dv_soft-corner);
}

/* App text field */
div[class^=applicationCommand__]>span[class*=optionPill__] {
	border-color: var(--dv_theme-text) !important;
}

/* Video Playback */
div[class^="audioControls_"],
div[class^="videoControls_"]:not(div[class^="root_"][class*="idle_"] > div[class^="videoControls"], .videoControls_af6621) {
	backdrop-filter: blur(var(--dv_blur));
}

div[class^="wrapperPaused_"]>div>div[class^="iconWrapper_"] {
	opacity: 1;
	background-color: rgba(0, 0, 0, .6);
	backdrop-filter: blur(var(--dv_blur));
	border-radius: 18px;
}

/* YouTube Controls */
div[class^="embedVideoActions_"]>div>div[class^="wrapper"] {
	background-color: rgba(0, 0, 0, .6);
	backdrop-filter: blur(var(--dv_blur));
}

/* Text Mention */
div[class*="mentioned_"] {
	background-color: rgba(var(--dv_theme-text-rgb), 0.15) !important;
	transition: background 0.2s;
}

div[class*="mentioned_"]:hover {
	background-color: rgba(var(--dv_theme-text-rgb), 0.35) !important;
	transition: background 0.2s;
}

div[class*="mentioned_"]:before {
	background-color: var(--dv_theme-text);
}

/* Message Hover Accessories */
.wrapper_c727b6 {
	background-color: var(--dv_dark_background_3);
}

/* Attatchments */
.attachment_f3cf2c {
	background-color: var(--dv_dark_background_3);
}

/* File upload Progress Bar */
div[class*="progressBar_"][style*="background-color: hsl(235"] {
	background-color: var(--dv_theme-text-muted) !important;
}

/* Channel Text Area */
div[class^="channelTextArea_"] {
	background: transparent !important;
}

div[class^="scrollableContainer_"]:not(div[class^="vc-rdb-input"] > div) {
	background-color: var(--dv_dark_background_2);
	border-radius: 18px;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.35);
}

div[class^="section_"]>div[class*="messageInputContainer_"] {
	margin-top: 6px;
	margin-bottom: 12px;
	resize: none;
	overflow: hidden;
	background: transparent;
	border: 1px solid var(--profile-message-input-border-color);
	border-radius: 8px;
}

/* Inline Emoji Suggestion */
div[class^="autocomplete__"] {
	border-radius: 18px;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.35);
}

/* Buttons */
button[aria-label="Send a gift"] {
	display: none;
}

/* Reply */
div[class*="attachedBars_"] {
	background: transparent !important;
}

div[class^="replyBar_"] {
	background: rgba(var(--background-tertiary-rgb), 0.4);
	backdrop-filter: blur(var(--dv_blur));
}

/* Message Actions */
div[aria-label="Message Actions"]>div[class^="buttonsInner"] {
	background-color: var(--dv_dark_background_3);
	border-radius: var(--dv_soft-corner);
}

div[aria-label="Message Actions"]>div[class^="buttonsInner"]>div:hover {
	background-color: var(--dv_background-modifier-hover);
}

/* Top Bar Guild Buttons */
/* Pinned Messages Box */
div[class^="messagesPopoutWrap_"] {
	background-color: var(--dv_dark_background_3);
	max-height: 90vh !important;
	width: 30vw;
	border: 0.1px solid transparent;
	border-radius: var(--dv_soft-corner);
}

div[class^="messageGroupWrapper__"] {
	background-color: var(--dv_dark_background_1);
}

div[class^="messagePopoutWrap"]>div[class^="header__"] {
	background-color: var(--dv_dark_background_3);
}

div[class^="messagesPopoutWrap_"]>.footer_a3029c {
	background-color: var(--background-fourth);
}

/* Threads */
div[role="dialog"]>div[class*="container_"],
div[role="dialog"]>div>div[class^="header_"] {
	background-color: var(--dv_dark_background_3);
}

div[role="dialog"]>div>div[class^="list_"]>div>div[role="button"] {
	background-color: var(--dv_dark_background_2);
	border-color: transparent;
}

div[role="dialog"]>div>div[class^="header_"]>div[class^="searchBox"] {
	background-color: var(--dv_dark_background_1);
	padding: 5px;
	border-radius: var(--dv_soft-corner);
}

/* Inbox */
div[class*="friendRequestsButton_"] {
	background-color: var(--dv_dark_background_1);
}

/* For You */
div[data-list-id="for-you"] {
	background-color: var(--dv_dark_background_1);
}

/* Unreads 
.channelHeader__5d30c {
	background-color: var(--dv_dark_background_2);
	border-radius: 12px;
	margin-bottom: 5px;
}

.messages_f7999e,
.container__56e52,
.messageContainer_aa7d14 {
	background-color: var(--dv_dark_background_1);
	border-radius: 12px;
}*/

/* Forums */
/* Search Input Background */
textarea[style^="padding-right: 31.69px"] {
	background-color: var(--dv_dark_background_2) !important;
	border-radius: var(--dv_soft-corner);
}

/* Browse Channel Page Menu */
/*.theme-dark div[class*="container__"]:not(div[class^="userPopoutOverlayBackground_"] > div, [id^="message-accessories"])*/
.theme-dark .container__6b2e5 {
	background-color: var(--dv_dark_background_3);
}

div[class*="header__"]>div[class*="container__"] {
	background-color: var(--dv_dark_background_1);
	padding: 7px;
	border-radius: var(--dv_soft-corner);
}

/* Channels & Roles Menu Page 
.theme-dark .container__10dc7,
.theme-dark .header__60bef,
.theme-dark .scrollerContainer_bf5dbd,
.theme-dark .emptyPage__3e15d {
	background-color: var(--dv_dark_background_3);
}*/

/* Custom Server Icons */
/* Lily's Comfy Corner */
[aria-label^="The Lily Pad"] .name_e8e549::before {
	content: "__";
	background: url("https://i.mintlily.lgbt/MintMod_sm.png") center / 100% no-repeat;
	margin-right: 4px;
	color: transparent;
}

/* Minty Labs */
[aria-label^="Minty Labs"] .name_e8e549::before {
	content: "__";
	background: url("https://i.mintlily.lgbt/MintMod_sm.png") center / 100% no-repeat;
	margin-right: 4px;
	color: transparent;
}

/* Totally Wholesome */
[aria-label^="Totally Wholesome"] .name_e8e549::before {
	content: "__";
	background: url("https://i.mintlily.lgbt/TW_Logo.png") center / 100% no-repeat;
	margin-right: 4px;
	color: transparent;
}