:root {
	/* Self defined Variables */
	--blur:                                 8px;
	--blur-mac:                             18px;
	--_dark1:                               #191F22;
	--_dark2:                               #1e2427;
	--_dark3:                               #131719;
	--theme-text:                           #EECCE0;
	--theme-text-muted:                     #906D92;
	--anim-speed:                           6s !important;
	--soft-corner:                          0.6rem;
	--soft-corner-roles:                    0.45rem;
	--background-primary-rgb:               25, 31, 34;
	--background-tertiary-rgb:              19, 23, 25;

	/* Discord Variable Overrides */
	--background-primary:                   var(--_dark1);
	--background-secondary:                 var(--_dark1);
	--background-secondary-alt:             var(--_dark2);
	--background-tertiary:                  var(--_dark3);
	--channeltextarea-background:           var(--_dark3);
	--modal-background:                     var(--_dark1);
	--toast-background:                     var(--_dark1);
	--toast-header:                         var(--_dark1);
	--toast-contents:                       var(--_dark2);
	--background-floating:                  var(--_dark3);
	--activity-card-background:             var(--_dark3);
	--background-modifier-selected_:        rgba(238, 204, 224, 0.2);
	--background-modifier-hover_:           rgba(238, 204, 224, 0.3);
	--background-accent:                    var(--theme-text-muted);
	--background-fourth:                    var(--_dark2);
	--theme-text-rgb:                       238, 204, 224;
	--theme-text-muted-rgb:                 144, 109, 146;
	--profile-border-width:                 2px;
	--text-link:                            var(--theme-text);
	--text-link-low-saturation:             var(--theme-text-muted);
	--brand-experiment:                     rgb(144, 109, 146);
	--brand-experiment-05a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.05);
	--brand-experiment-10a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.1);
	--brand-experiment-15a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.15);
	--brand-experiment-20a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.2);
	--brand-experiment-25a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.25);
	--brand-experiment-30a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.3);
	--brand-experiment-35a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.35);
	--brand-experiment-40a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.4);
	--brand-experiment-45a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.45);
	--brand-experiment-50a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.5);
	--brand-experiment-55a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.55);
	--brand-experiment-60a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.6);
	--brand-experiment-65a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.65);
	--brand-experiment-70a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.7);
	--brand-experiment-75a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.75);
	--brand-experiment-80a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.8);
	--brand-experiment-85a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.85);
	--brand-experiment-90a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.9);
	--brand-experiment-95a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%), 87%, 0.95);
	--brand-experiment-200:                  hsl(325, calc(var(--saturation-factor, 1) * 85.6%), 97%);
	--brand-experiment-600:                  hsl(297, calc(var(--saturation-factor, 1) * 15%), 50%);
	--brand-experiment-560:                  hsl(297, calc(var(--saturation-factor, 1) * 15%), 50%);
	--brand-experiment-500:                  hsl(297, calc(var(--saturation-factor, 1) * 15%), 50%);
	--brand-experiment-400:                  hsl(297, calc(var(--saturation-factor, 1) * 15%), 50%);
	--control-brand-foreground:             var(--theme-text-muted);
	--divider-color:                        var(--theme-text);
	--text-brand:                           var(--theme-text);
	--scrollbar-thin-thumb:                 var(--_dark3);
	--scrollbar-auto-thumb:                 var(--_dark3);
	--scrollbar-auto-track:                 var(--_dark2);
	--scrollbar-auto-scrollbar-color-thumb: var(--_dark3);
	--scrollbar-auto-scrollbar-color-track: var(--_dark2);
	--context-menu-radius:                  var(--soft-corner);

	/* nolongerPowercord - Replugged Variables */
	--spotify-color:                        var(--theme-text);
}

.info-3pQQBb::before {
	content: 'Dark Vanilla 2.16.5';
	color: var(--theme-text-muted);
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
}

/* Quick Fix for something that is affecting me fo some unknown reason */
svg > [d='M10 0C4.486 0 0 4.486 0 10C0 15.515 4.486 20 10 20C15.514 20 20 15.515 20 10C20 4.486 15.514 0 10 0ZM9 4H11V11H9V4ZM10 15.25C9.31 15.25 8.75 14.691 8.75 14C8.75 13.31 9.31 12.75 10 12.75C10.69 12.75 11.25 13.31 11.25 14C11.25 14.691 10.69 15.25 10 15.25Z'] {
	display: none;
}

/* Just a little funny easter-egg-ish thing */
.powercord-account-item:not(a)::after { content: ' - The Mega Cutie~'; }

/* Windows 10 TitleBar */
div[class*="titleBar-"] {
	height: 28px;
}
div[class*="withFrame-"] {
	height: 32px;
	margin-top: 0px;
}
div[class*="winButton-"] {
	height: 32px;
	width: 32px;
	top: 0;
	padding-left: 8px;
	padding-right: 8px;
	cursor: default;
}
.winButtonClose-1HsbF-, .winButtonMinMax-PBQ2gm[aria-label="Maximize"], .winButtonMinMax-PBQ2gm[aria-label="Minimize"] {
	color: #fff;
	top: -6px !important;
}
div[class*="winButtonMinMax-"]:nth-child(4):hover {
	background-color: #FAA61A;
	color: white;
}
div[class*="winButtonMinMax-"]:nth-child(3):hover {
	background-color: #3BA55C;
	color: white;
}
div[class*="wordmark-"]{
	position: absolute;
	left: 50%;
	top: 16px !important;
	transform: translate(-50%, -50%);
	padding: 10px;
	color: var(--theme-text-muted);
}

/* Anything Main and or Global */
/* Right Click Context Menu */
.menu-1QACrS { background-color: var(--_dark3); }
/* Hyperlink */
a[href]:not(a[aria-label], a[data-list-item-id]) { color: var(--theme-text); }
a[href]:not(a[aria-label], a[data-list-item-id]):hover { color: rgba(var(--theme-text-rgb), 0.8); }
/* Private Channel Selection */
.selected-3veCBZ {
    background: var(--background-modifier-selected_);
    border-radius: var(--soft-corner);
}
.interactive-1vLZ_I:focus-within, .interactive-1vLZ_I:hover {
    background: var(--background-modifier-hover_);
    border-radius: var(--soft-corner);
}

/* Top Left Discord Logo Background Inactive */
.childWrapper-1j_1ub { background-color: rgba(var(--theme-text-rgb), 0.35); }


/* Emoji/Sticker/GIF Popup Box */
/* Footer Color fix */
.contentWrapper-3vHNP2, .emojiPicker-6YCk8a { background-color: var(--background-fourth); }
div[class*="inspector-"] { background-color: var(--background-fourth) !important; }
/* GIFs Stickers Emoji NavTab Buttons */
.navButtonActive-1EqC5l, .navButtonActive-1EqC5l:hover { background: var(--background-modifier-selected_); }
.navButton-1XuvI-:hover {
	background: var(--background-modifier-selected_);
	border-radius: 4px;
}
/* Input */
.container-1SX9VC, .container-2oNtJn { background-color: var(--_dark3); }
/* Emoji Category Header */
.wrapper-1NNaWG { background-color: var(--background-fourth); }
/* Left Server Select */
.wrapper-22rqw6 { background-color: var(--_dark1); }
/* Emoji/Sticker background */
.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ, .categoryItemDefaultCategorySelected-2YeRUu, .categoryItemDefaultCategorySelected-2YeRUu:hover, .emojiItem-277VFM.emojiItemSelected-2Lg50V {
	background-color: var(--background-modifier-selected_);
}
/* Diversity Selection */
.diversitySelectorOptions-3DhNYs {
	background-color: var(--_dark3);
	border: 0.1px solid transparent;
	border-radius: var(--soft-corner);
}
/* Sticker Preview */
/* .previewDark-3Xp3UB { background-color: var(--_dark1); } */ /* Disabled for in favor of what others (without themes) will see */

/* Friends Online / Mutual Guilds */
.pd-mutualGuilds.pd-container div { margin: 0.5px !important; }
.pd-mutualGuilds.pd-container { margin: 0px !important; }

/* Friends Tab Selected: x */
.actionButton-3-B2x- { background-color: var(--background-tertiary); }
/* x = Online */
.theme-dark #online-tab { background-color: var(--background-secondary); }
/* x = All */
.theme-dark #all-tab { background-color: var(--background-secondary); }
/* x = Pending */
.theme-dark #pending-tab { background-color: var(--background-secondary); }
/* x = Blocked */
.theme-dark #blocked-tab { background-color: var(--background-secondary); }
/* x = Add Friend */
.theme-dark #add_friend-tab { background-color: var(--background-secondary); }
.theme-dark div[aria-controls="add_friend-tab"] { color: var(--theme-text); }
div[data-item-id="ADD_FRIEND"] {
	background-color: var(--theme-text-muted) !important;
	transition: background 0.1s;
}
div[data-item-id="ADD_FRIEND"]:hover {
	background-color: transparent !important;
	transition: background 0.1s;
}
section[class*="container"][class*="themed"] { background-color: var(--_dark1); }
/* Active Now Cards */
.wrapper-2RrXDg { background-color: var(--background-tertiary); }

/* Notification Badge */
.numberBadge-37OJ3S {
	background-color: var(--theme-text-muted) !important;
	/*color: var(--background-fourth);*/
}

/* Embeds */
.embedFull-1HGV2S { background: var(--background-tertiary) !important; }
.embed-hKpSrO {
	border-top-right-radius: var(--soft-corner);
	border-bottom-right-radius: var(--soft-corner);
}
.wrapper-x4po40 /* YouTube play pill */ {
	background-color: rgba(var(--background-tertiary-rgb), 0.6);
	backdrop-filter: blur(var(--blur));
}
.theme-dark .wrapperAudio-1Bzv_Z {
	background: var(--background-tertiary);
	border-radius: var(--soft-corner);
}
.audioControls-3fmemK { border-radius: var(--soft-corner); }
.audioMetadata-1Hrt8T .metadataSize-2A2s1T { color: #ddd; }

/* Video Playback */
.audioControls-3fmemK, .videoControls-2NzHnF { backdrop-filter: blur(var(--blur)); }

/* Text Mention */
.mentioned-Tre-dv {
	background-color: rgba(var(--theme-text-rgb), 0.15) !important;
	transition: background 0.2s;
}
.mentioned-Tre-dv:hover {
	background-color: rgba(var(--theme-text-rgb), 0.35) !important;
	transition: background 0.2s;
}
.mentioned-Tre-dv::before { background-color: var(--theme-text); }

/* Double line Channel Topic */
[class*="chat-"] > [class*="title-"] > [class*="children-"] > [class*="topic-"] {
	white-space: normal;
	max-height: 2.4em;
	font-size: .9em;
	line-height: 1.2em;
	text-overflow: ellipsis;
	position: relative;
}
[class*="chat-"] > [class*="title-"] > [class*="children-"]::after { content: unset; }
[class*="chat-"] > [class*="title-"] > [class*="children-"] > [class*="topic-"]::after { /* Does not seem to work */
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	height: 1em;
	background: linear-gradient(to right, transparent, var(--background-primary), var(--background-primary)) !important;
	display: flex;
	width: 130px;
}

/* Hide threads until channel is selected */
[class*="containerDefault--"]:not([class*="selected-"]) + [class*="container-"] { overflow: hidden; }
[class*="containerDefault--"]:not([class*="selected-"]) + [class*="container-"] > [class*="containerDefault--"]:not(:last-child):not([class*="selected-"]) {
	display: none;
}

[class*="containerDefault--"]:not([class*="selected-"]) + [class*="container-"] > [class*="containerDefault--"]:last-child:not([class*="selected-"])::after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(transparent, var(--background-secondary));
	pointer-events: none;
}

/* Text Popup Prediction/Suggestion */
.theme-dark .autocomplete-3NRXG8 {
	background-color: rgba(var(--background-tertiary-rgb), 0.6);
	backdrop-filter: blur(var(--blur-mac));
}
.theme-dark .selected-3H3-RC { background: var(--background-fourth); }

/* Message Hover Accessories */
.wrapper-2vIMkT { background-color: var(--background-tertiary); }

/* User Popout */
#popout_128[class="theme-dark layer-2aCOJ3"] { box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2); }
div[class*="statusDotBackground-"][style="background-color: white;opacity: 0.7;"] { display: none; }
/* Background (No profile color) */
div[class*="userProfileInnerNonPremium"],
div[class*="userProfileInnerPremiumWithoutBanner"],
div[class*="userProfileInnerWithBanner"],
div[class*="userProfileInnerWithBanner"]:not(div[class*="userProfileInnerWithTheme"]) {
	background: none;
	background-color: var(--_dark1);
}
.theme-dark.profileColors-3Y0XaR { background-color: var(--_dark1) !important; }
/* Notes */
:not(.input-2g-os5) > .textarea-_59yqs {
	background-color: var(--_dark1) !important;
	padding-top: 6px;
	padding-left: 6px;
}
/* Message */
.messageInputContainer-2rGDH8 { border: none; }
:not(.input-2g-os5) > .messageInput-1KI8l8 { background-color: var(--_dark1) !important; }
/* Inner Background */
.profileBadges-31rDHI, div[class*="overlayBackground"] { background-color: var(--_dark3); }
.avatar-2OC07D {
	border-color: rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(var(--blur-mac));
}
/* Beta Tag, Banner Edit Button */
.betaTagHidden-3QLtKR, .betaTag-2bWvGF, .pencilContainer-11Kuga { display: none; }
/* Cuz who actually uses the quick message feature? */
.userPopout-2j1gM4 .footer-3naVBw { display: none; }
/* Pfp Hover */
foreignObject[mask="url(#svg-mask-avatar-status-round-80)"], foreignObject[mask="url(#svg-mask-avatar-status-mobile-80)"] {
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	border: 0.01px solid transparent;
	border-radius: 80px;
}
/* Grey Buttons */
.buttonColor-XIRMbp {
	border: 1px solid var(--_dark1);
	border-radius: var(--soft-corner);
	background-color: rgba(var(--background-primary-rgb), 0.8);
	transition: 0.1s;
}
.buttonColor-XIRMbp:hover {
	border: 1px solid var(--_dark1);
	border-radius: var(--soft-corner);
    background-color: var(--background-modifier-hover_);
	transition: 0.1s;
}
/* White Activity Next/Prev Button */
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
	border: 1px solid var(--_dark1);
	border-radius: var(--soft-corner);
    background-color: var(--background-modifier-hover_);
	transition: 0.1s;
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
	border: 1px solid var(--_dark1);
	border-radius: var(--soft-corner);
	background-color: rgba(var(--background-tertiary-rgb), 0.2);
	transition: 0.1s;
}
.theme-dark .fieldButton-14lHvK.lookLink-15mFoz.colorPrimary-2AuQVo {
	border: 1px solid var(--button-danger-background);
	border-radius: var(--soft-corner);
	background-color: rgba(var(--background-tertiary-rgb), 0.8);
	transition: 0.1s;
}
.theme-dark .fieldButton-14lHvK.lookLink-15mFoz.colorPrimary-2AuQVo:hover {
	border: 1px solid var(--_dark3);
	border-radius: var(--soft-corner);
	background-color: rgba(var(--background-tertiary-rgb), 0.8);
	color: var(--button-danger-background);
	transition: 0.1s;
}
/* Other Buttons */
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo { border-radius: var(--soft-corner); }
.lookOutlined-3yKVGo.colorRed-rQXKgM, .lookFilled-yCfaCM.colorRed-rQXKgM, .lookOutlined-3yKVGo.colorBrand-I6CyqQ, .lookInverted-2mDUMi.colorBrand-I6CyqQ { border-radius: var(--soft-corner); }
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
	border: 0.1px solid transparent;
	border-radius: var(--soft-corner);
}
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
	border: 0.1px solid transparent;
	border-radius: var(--soft-corner);
}

/* User Popout and Status Popout */
#account.menu-1QACrS {
	background-color: var(--_dark3);
}
#account.menu-1QACrS .item-1OdjEX::before { content: unset; }
#account.menu-1QACrS .headerTop-3GPUSF { padding: 16px; }
#account.menu-1QACrS .avatarWrapper-eenWra {
	left: unset;
	right: 16px;
}
#account.menu-1QACrS .avatar-2Vndt_ svg foreignObject, #account.menu-1QACrS .avatarHint-k7pYop foreignObject { mask: none; }
#account.menu-1QACrS .avatar-2Vndt_ svg rect { display: none; }
#account.menu-1QACrS .avatar-2Vndt_ img, #account.menu-1QACrS .avatarHint-k7pYop { border-radius: 50%; }
#account.menu-1QACrS .avatar-2Vndt_ {
	border-color: rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(var(--blur-mac));
}
#account.menu-1QACrS .profileBody-3QbfPe,
#account.menu-1QACrS .separator-1So4YB,
#account.menu-1QACrS .profileBadges-2pItdR,
#account.menu-1QACrS .copiableWrapper-2IFENG > div:not(.childWrapper-2wlp_S),
#account.menu-1QACrS .pencilContainer-18TrEJ/* ,
#account.menu-1QACrS .description-1Dd2kv */ { display: none; }
svg.activeIcon-1ykRnF path { fill: var(--theme-text-muted); }
/* Buttons */
.scroller-1bVxF5 { padding: 6px 8px; }
/* Separators */
.separator-1So4YB {
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 4px;
    border-bottom: 1px solid var(--background-modifier-accent);
}
.separator-1So4YB:is(:nth-child(2)) { display: none; }
.submenu-1apzyU .separator-1So4YB:is(:nth-child(2)) { display: flex; }
/* Menu */ 
.submenu-1apzyU .scroller-1bVxF5 { padding: 6px 6px 6px 8px; }
.status-2xYiEF { padding-left: 4px; }
.description-1Dd2kv {
	padding-left: 4px;
    margin-top: 2px;
    margin-bottom: 0;
}
.iconContainerLeft-2NHJgN {
	margin-left: -2px;
    margin-right: 8px;
}
.iconContainerLeft-2NHJgN .mainStatusIcon-25wiNY {
	width: 10px;
    height: 10px;
    margin-left: 2px;
}
.hintContainer-2UwhLP, .imageContainer-1wSPgI, #edit-custom-status svg {
	width: 16px;
    height: 16px;
}
.full-motion .fade-1ICjW8.didRender-2SiRlm .labelContainer-2vJzYL.item-1OdjEX::before { display: none; }
/* User Status / Server Info popout */
.full-motion .scale-3UGUBw.didRender-2SiRlm {
	border-width: 1px;
	border-radius: 4px;
	border-image-slice: 1;
	border-image-source: linear-gradient(var(--angle), #51FF3B, #9fffe3, #9fffe3, #EECCE0);
	border-style: solid;
	margin-bottom: 20px;
	animation: border-anim var(--anim-speed) ease infinite;
}
@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}
@keyframes border-anim { to { --angle: 360deg; } }
/* Spotify Panel Edits */
.powercord-spotify .spotify-seek-bar-progress { box-shadow: 0px 5px 10px var(--theme-text); }
.powercord-spotify .spotify-seek-bar-cursor, .barInner-3dHef4 { box-shadow: 0px 0px 10px #fff; }
/* Powercord Badge 
div.powercord-badge.powercord-badge-cutie {
	border: solid 0.1px transparent;
	border-radius: 50%;
	box-shadow:
		inset 0px 0px 5px currentcolor,
		0px 0px 10px currentcolor;
}*/

/* Full Screen Popout */
.body-1Ukv50, .topSection-13QKHs { background-color: var(--background-tertiary); }
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG, .top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
	border-bottom-color: var(--theme-text-muted);
}
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG, .top-K_jibn .themed-2-lozF.item-3XjbnG:active {
	border-bottom-color: var(--theme-text);
}
/* Server Roles */
.role-2TIOKu:not(.addButton-1_dZYu) {
	background-color: var(--_dark2);/*var(--background-tertiary)*/
	border: 0.025rem solid var(--_dark2);
	border-radius: var(--soft-corner-roles);
}
.addButton-1_dZYu {
	background-color: var(--_dark2);/*var(--background-tertiary)*/
	border: 0.025rem solid var(--_dark2);
	border-radius: var(--soft-corner-roles);
	transition: background 0.1s;
}
.addButton-1_dZYu:hover {
	background-color: var(--background-modifier-hover_);
	border: 0.025rem solid var(--background-modifier-hover_);
	transition: background 0.1s;
}
/* Mutual Servers/Friends */
.listRow-2nO1T6:hover { background-color: var(--background-modifier-hover_); }
/* Unclamp User About Me 
.clamped-2ZePhX { -webkit-line-clamp: unset; }*/
/* Nitro User Banner */
.popoutBanner-3cqRD9 .pencilContainer-18TrEJ, .popoutBannerPremium-3i5EEI .pencilContainer-18TrEJ { display: none; }
/* Avatar pfp */
.avatar-3QF_VA {
	border-color: rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(var(--blur-mac));
}
/* Connected Accounts */
div[class*="connectedAccountContainer"] {
	background-color: var(--background-fourth);
	border-color: transparent;
	border-radius: var(--soft-corner);
}
div[class*="connectedAccount-"] {
	width: 100%;
	height: 27px;
	flex-shrink: 0;
}
div[class*="connectedAccountIcon"] {
	width: 28px;
	height: 28px;
}
.anchorUnderlineOnHover-2qPutX:hover { color: var(--theme-text); }
.text-md-semibold-3xVVGu { font-weight: 500; }
svg[class*="discordMemberCreatedAtIconContainer"] {
	padding: 0px;
	background: none;
}
svg[class*="discordMemberCreatedAtIcon"] { height: 28px; }
div[class*="discordMemberCreatedAtIcon"] { /* Guild Icon */
	width: 28px;
	height: 28px;
}
div[class*="discordMemberCreatedAtText"] > div { display: none; }
div[class*="discordMemberCreatedAt"] > div[class*="discordMemberCreatedAtText"] > h2 {
	padding-top: 2px;
	font-size: 16px;
	font-family: inherit;
	font-weight: 500;
	user-select: text;
}

/* Shrink server banners to header instead of disappearing. */
[class*="animatedContainer-"] {
	opacity: 1 !important;
	transition: opacity 0.5s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] { transition: margin 0.5s; }
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
	opacity: 0.35 !important;
	height: 138px;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] > [class*="bannerImage-"] { margin-top: -12px; }
header[class*="header"] { backdrop-filter: blur(var(--blur)) !important; }
[class*="hasBanner"] [class*="header"], [class*="hasBanner"] [class*="header"]:hover { backdrop-filter: blur(0px) !important; }
/* Remove Public Tags */
.communityInfoContainer-1dMVpU { display: none; }
.communityInfoVisible-3zc5_s:not(.hasBanner-2IrYih) .header-3OsQeK {
	position: relative;
	font-family: var(--font-display);
	font-weight: 500;
	padding: 12px 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 3;
	-webkit-transition: background-color 0.1s linear;
	transition: background-color 0.1s linear;
	-webkit-box-shadow: var(--elevation-low);
	box-shadow: var(--elevation-low);
}
.communityInfoVisible-3zc5_s:not(.hasBanner-2IrYih):hover .header-3OsQeK, .communityInfoVisible-3zc5_s:not(.hasBanner-2IrYih) .selected-1GtAC5 {
	background-color: var(--background-modifier-hover_) !important;
	-webkit-box-shadow: var(--elevation-low);
	box-shadow: var(--elevation-low);
}
.communityInfoVisible-3zc5_s:not(.hasBanner-2IrYih) ~ .scroller-1ox3I2 > .content-2a4AW9 > .containerDefault-3TQ5YN:first-of-type { padding-top: 0px; }

/* Content Focus Backdrop Background Blur */
#app-mount div > .layer-1Ixpg3 {
	backdrop-filter: blur(var(--blur));
	transition: opacity 0.5s;
}

.backdrop-2ByYRN.withLayer-2VVmpp {
	opacity: 0.5 !important;
	transition: opacity 0.5s;
}

/* Server Channel Selection */
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: var(--background-modifier-selected_);
    border-radius: var(--soft-corner);
}
.wrapper-NhbLHG:hover .content-1gYQeQ { 
    background-color: var(--background-modifier-hover_);
    border-radius: var(--soft-corner);
}

/* Member List */
/* Role Color Background */
/*span[class*="roleColor"]::after {*/
.username-i5-wv- span[style*="rgb("]::after {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.125;
	background: currentColor;
	border: 0 solid transparent;
	border-radius: var(--soft-corner);
}
.container-1oeRFJ { margin: 5px;}
/* Subtext */
.activityText-1rR-8O, .activityText-ev7Z1T { color: var(--theme-text); }
.activityText-1rR-8O strong, .activityText-ev7Z1T strong { font-weight: 550; }
svg.icon-Lupfh- path { fill: var(--theme-text); }
/* Container */
.content-1jQy2l .container-2o3qEW { flex-direction: unset; }

/* Spotify Reround Album Art */
img[alt="Spotify cover"] { border-radius: 8px !important; }

/* Toolbar Navigation */
.clickable-ZD7xvu:hover .icon-2xnN2Y { color: var(--theme-text-muted); }
.selected-29KTGM .icon-2xnN2Y { color: var(--theme-text); }

/* Hide threads until channel is selected */
[class*="containerDefault--"]:not([class*="selected-"]) + [class*="container-"] { overflow: hidden; }
[class*="containerDefault--"]:not([class*="selected-"]) + [class*="container-"] > [class*="containerDefault--"]:not(:last-child):not([class*="selected-"]) {
	display: none;
}

[class*="containerDefault--"]:not([class*="selected-"]) + [class*="container-"] > [class*="containerDefault--"]:last-child:not([class*="selected-"])::after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(transparent, var(--background-secondary));
	pointer-events: none;
}

/* Reply Click Background flash */
div[class*="backgroundFlash"] {
	background: linear-gradient(270deg, var(--theme-text-muted), transparent);
	background-size: 400% 400%;

	-webkit-animation: reply 2s ease 3;
	-moz-animation: reply 2s ease 3;
	animation: reply 2s ease 3;
}

@-webkit-keyframes reply {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes reply {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes reply {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

/* Edited Message Timestamp */
.timestamp-p1Df1m:not(.timestampInline-_lS3aK, .timestampVisibleOnHover-9PEuZS) time::after {
	content: " (" attr(aria-label) ")";
	color: var(--text-muted);
	font-size: 0.625rem;
	font-weight: 400;
	line-height: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform: lowercase;
}
.edited-1v5nT8 { display: none; }

/* Pill Color Anim */
.item-2LIpTv {
	background: linear-gradient(270deg, #51ff3b, #9fffe3, #eecce0);
	background-size: 600% 600%;

	-webkit-animation: pill-anim 30s ease infinite;
	-moz-animation: pill-anim 30s ease infinite;
	-o-animation: pill-anim 30s ease infinite;
	animation: pill-anim 30s ease infinite;
}
@-webkit-keyframes pill-anim {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes pill-anim {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes pill-anim {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

/* Mention @ Icon - Cynthia 🇨🇿 */
@font-face {
	font-family: Blank;
	src: url("https://raw.githack.com/adobe-fonts/adobe-blank/master/AdobeBlank.ttf.woff");
	unicode-range: U+40;
}
.mention:not(.iconMention-3WxjBe) {
	font-family: Blank, var(--font-primary);
	padding-left: 1.2rem !important;
	white-space: nowrap;
}
.mention:not(.iconMention-3WxjBe)::before {
	content: '';
	width: 16px;
	height: 100%;
	display: block;
	position: absolute;
	margin: 0 2px;
	inset: 0;
	background: currentColor;
	-webkit-mask: center/contain no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 24 24'><path d='M12 2C6.486 2 2 6.486 2 12C2 17.515 6.486 22 12 22C14.039 22 15.993 21.398 17.652 20.259L16.521 18.611C15.195 19.519 13.633 20 12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12V12.782C20 14.17 19.402 15 18.4 15L18.398 15.018C18.338 15.005 18.273 15 18.209 15H18C17.437 15 16.6 14.182 16.6 13.631V12C16.6 9.464 14.537 7.4 12 7.4C9.463 7.4 7.4 9.463 7.4 12C7.4 14.537 9.463 16.6 12 16.6C13.234 16.6 14.35 16.106 15.177 15.313C15.826 16.269 16.93 17 18 17L18.002 16.981C18.064 16.994 18.129 17 18.195 17H18.4C20.552 17 22 15.306 22 12.782V12C22 6.486 17.514 2 12 2ZM12 14.599C10.566 14.599 9.4 13.433 9.4 11.999C9.4 10.565 10.566 9.399 12 9.399C13.434 9.399 14.6 10.565 14.6 11.999C14.6 13.433 13.434 14.599 12 14.599Z' /></svg>");
}

/* Update Icon */
svg.icon-2xnN2Y path.updateIconForeground-2V_zo4 { fill: var(--theme-text); }

/* Message Attachment */
.container-2sjPya > *:not(.clickableSticker-3FN2_L):not(.embed-hKpSrO):not(.originalLink-Azwuo9):not([aria-label="Spoiler"]) { justify-self: stretch; }
.textContainer-36wgKK {
	border: 1px solid transparent;
	border-top-left-radius: var(--soft-corner);
	border-top-right-radius: var(--soft-corner);
}
.footer-GXWBBp {
	border: 1px solid transparent;
	border-bottom-left-radius: var(--soft-corner);
	border-bottom-right-radius: var(--soft-corner);
	border-top-color: var(--background-secondary-alt);
	border-top-width: 1px;
}
.downloadSection-20OayS { color: #999; }
.downloadButton-2PkwZg { color: var(--theme-text); }
.attachment-1PZZB2 {
	background-color: var(--background-tertiary);
	border-color: transparent;
	border-radius: var(--soft-corner);
}
.metadata-1E7Z4i { color: #bbb; }
/* Stickers onClick */
.popoutContainer-2wbmiM { background-color: var(--_dark3); }
.guildSection-2Zyzy8 { background-color: var(--background-fourth); }
/* slash message highlight */
.selectedPill-3cOyS6 { border-color: var(--theme-text) !important; }

/* Upload Popup */
.theme-dark .uploadModal-2ie9O_ { background-color: var(--background-primary); }
.theme-dark .footer-VCsJQY { background-color: var(--background-tertiary); }
.theme-dark .checkbox-f1HnKB svg path[fill*="hsl(235"] { fill: var(--theme-text); }
@keyframes expand_attachment_areabox {
	from { height: 0; }
	to { height: 218px; }
}
ul[class*="channelAttachmentArea-"] {
	animation-name: expand_attachment_areabox;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}
.attachButtonPlay-1ATmb5 { color: var(--theme-text); }
/* Jump To Present Bar */
[class*="jumpToPresentBar"] { display: contents; }
[class*="jumpToPresentBar"] > button:first-child { display: none; }
[class*="jumpToPresentBar"] > button:last-child {
	position: absolute;
	bottom: 15px;
	right: 16px;
	padding: 8px !important;
	height: auto;
	background-color: var(--thene-text-muted);
	box-shadow: var(--elevation-high);
	border-radius: 100px;
	display: flex;
	font-size: 0;
	color: transparent;
	transition: font-size 0.2s 0.1s, color 0.2s, padding 0.4s 0.1s;
	background-color: rgba(var(--background-tertiary-rgb), 0.6);
	backdrop-filter: blur(var(--blur-mac));
	z-index: 100;
}
[class*="jumpToPresentBar"] > button svg {
	order: -1;
	margin: 0;
	height: 24px;
	width: 24px;
	top: unset;
	margin-right: 2px;
	margin-left: 0;
	margin-right: 0;
	color: var(--theme-text);
	transition: margin 0.6s;
}
[class*="jumpToPresentBar"]:hover > button {
	padding: 8px 18px !important;
	font-size: 14px;
	color: var(--text-normal);
	transition: font-size 0.2s, color 0.2s 0.1s, padding 0.4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
	margin-right: 2px;
	margin-left: -6px;
}
/*.jumpToPresentBar-1cEnH0 {
	background-color: rgba(var(--background-tertiary-rgb), 0.6);
	backdrop-filter: blur(var(--blur-mac));
}
*/

/* Reactions */
.reaction-2A2y9y { background-color: var(--background-tertiary); }

/* Code box */
.markup-eYLPri code { background-color: var(--background-tertiary); }
.powercord-codeblock-copy-btn { background-color: var(--background-primary); }

/* Server Settings Open */
/* Stickers */
.theme-dark .tierHeaderLocked-30MLlO, .theme-dark .tierHeaderUnlocked-1OpOLf { background-color: var(--background-tertiary); }
.wrapper-24fR1R:focus-within, .wrapper-24fR1R:hover { background-color: var(--background-modifier-hover_); }
.action-2YPPom { background-color: var(--background-tertiary); }
.theme-dark .background-3xJH_4, .theme-dark .tierInProgress-1vFUnw {
	color: var(--background-tertiary);
	background-color: var(--background-tertiary);
}
/* Widgets */
.copyInput-3AbKWB {
	background-color: var(--background-tertiary);
	border: 0.1px solid transparent;
	border-radius: var(--soft-corner);
}
/* Server Templates */
.input-2g-os5 { background-color: var(--background-tertiary) !important; }
/* Rules Screening */
.enableContainer-1J91Aq { background-color: rgba(var(--theme-text-muted-rgb), 0.1); }
/* Discovery */
.inputWrapper-3a4ywb { background-color: var(--background-tertiary); }

/* Server Channel List */
svg.addButtonIcon-3rJeaD polygon { fill: var(--theme-text); }
.headerChildren-2qV9P8 svg.button-2BMPJJ g path:not([d*="M0"]) { stroke: var(--theme-text); }
/* Channel Actions */
.actionIcon-2sw4Sl { color: var(--theme-text); }
.iconItem-1EjiK0 .actionIcon-2sw4Sl:hover { color: var(--theme-text-muted); }
.iconItem-1EjiK0 .actionIcon-2sw4Sl:active { color: var(--theme-text-muted); }

/* Auth Box */
.theme-dark.authBox-1HR6Ha { background-color: var(--_dark1); }
/* .input-2g-os5 { background-color: var(--_dark3); } */
.lookLink-15mFoz.colorLink-1Md3RZ { color:  var(--theme-text); }
.theme-dark.navRow-dG-XX8 { background-color: var(--background-fourth); }

/* === Settings Opened === */
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background: var(--background-modifier-selected_);
    border-radius: var(--soft-corner);
}
/* My Account */
.settingsBanner-1eDJ5w { height: 265px; }
.avatar-3mTjvZ { top: 235px; }
/* User Profile */
.bioTextArea-dDGOeC { background-color: var(--background-tertiary); }
/* Other */
.cardPrimary-3qRT__ { background-color: rgba(var(--theme-text-muted-rgb), 0.1); }
/* Authorized Apps */
div[class*="authedApp"] {
	background-color: var(--background-tertiary);
	border-color: transparent;
	border-radius: var(--soft-corner);
}
/* Devices */
/* Connections */
div[class*="accountList"] {
	background-color: rgba(var(--theme-text-muted-rgb), 0.1);
	border-color: transparent;
	border-radius: var(--soft-corner);
}
.accountBtn-3pgcgr .accountBtnInner-3ttD-i { background-color: rgba(var(--theme-text-muted-rgb), 0.2); }
.connection-YOVI9j { background-color: var(--background-tertiary); }
/* Nitro */
[class*="premiumLabel-"]::before {
	content: "Discord Nitro";
	color: inherit;
	font-size: 16px;
}
[class*="premiumLabel-"] { font-size: 0px; }
/* Server Boost */
.guildSubscriptionSlots-1i_C21 { background-color: var(--background-tertiary); }
/* Subscriptions */
.lookFilled-1GseHa.select-1Ia3hD {
	background-color: var(--background-tertiary);
	border-color: transparent;
	border-radius: var(--soft-corner);
}
/* Billing */
.theme-dark .bottomDivider-ZmTm-j { background-color: var(--background-tertiary); }
.pageActions-1crTQL { background-color: var(--background-tertiary); }
.theme-dark .codeRedemptionRedirect-2hYMSQ { background-color: rgba(var(--theme-text-muted-rgb), 0.1); }
/* Appearance */
.preview-rua1rr {
	border-width: 2px;
	border-radius: var(--soft-corner);
}
.defaultValue-19SZ-q .markValue-2U_-UG { color: var(--theme-text); }
/* Accessibility */
.lookFilled-yCfaCM.colorBrandNew-2-gGsS { background-color: var(--theme-text-muted); }
/* Voice Settins */
.cameraWrapper-3a7Ngv { background-color: var(--background-tertiary); }
.backgroundOptionRing-1vvQ0C { border-color: var(--theme-text); }
/* Activity Status */
.theme-dark .addGamePopout-2SKNIV { background-color: var(--background-fourth); }

/* Other General Things */
/* Dropdown List */
.popout-1KHNAq {
	background-color: var(--_dark2);
	border-color: var(--_dark3);
}
.option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv) { background-color: var(--background-modifier-selected_); }
.option-2eIyOn.focused-ODgjnC, .option-2eIyOn:focus, .option-2eIyOn:hover { background-color: var(--background-modifier-hover_); }

.side-2ur1Qk > div[data-item-id="pc-updater"], .side-2ur1Qk > div[data-item-id="pc-updater"] ~ div { order: 6 }
.side-2ur1Qk > div[data-item-id="pc-moduleManager-plugins"] { order: 1 !important; }
.side-2ur1Qk > div[data-item-id="pc-moduleManager-themes"] { order: 2 !important; }
.side-2ur1Qk > div[data-item-id="theme-toggler"] { order: 5 !important; }
.side-2ur1Qk > div[data-item-id="css-toggler"] { order: 4 !important; }
.side-2ur1Qk > div[data-item-id="bdCompat"] { order: 3 !important; }
.item-3XjbnG[data-item-id="pc-updater"] {
	align-items: unset !important;
	overflow: visible;
}

/* Left Options */
/* Log Out */
.tabBarItemContainer-2HdIlr,
.sidebar-nqHbhN .side-2ur1Qk .item-3XjbnG[aria-controls="Logout-tab" i]::before,
.sidebar-nqHbhN .item-3XjbnG[aria-controls=logout-tab]::before { color: #D83C3E; }
.tabBarItemContainer-2HdIlr > svg { display: none; } /* { margin-left: 5px; } */
/* === END Settings Opened === */

/* Server Opened */
/* Overview */
.avatarUploaderInnerSquareDisabled-e_U2MZ { background-color: var(--background-tertiary); }
/* Stickers */
.theme-dark .tierHeaderLocked-30MLlO { background-color: var(--background-tertiary); }
.theme-dark .tierBody-1d3UiS { background-color: var(--background-fourth); }
/* Audit Log */
.theme-dark .headerClickable-zGQJz3, .theme-dark .headerDefault-1e6yjj { background-color: rgba(var(--theme-text-muted-rgb), 0.1); }
.theme-dark .changeDetails-1kMZqI { background-color: var(--background-fourth); }
/* Inegrations */
.theme-dark .card-3JmxsM { background-color: rgba(var(--theme-text-muted-rgb), 0.1); }

/* Change Log Popup */
.theme-dark .root-g14mjS { background-color: var(--background-primary); }
.theme-dark .footer-31IekZ { background-color: var(--background-fourth); }

/* Slider Toggles */
div[class*="container-"][style*="hsl(139"] { background-color: var(--theme-text-muted) !important; }
.slider-32CRPX path[fill*="calc(var(--saturation-factor"] { fill: var(--theme-text-muted); }

/* Message Unread */
/* New Message Bar */
.newMessagesBar-1hF-9G {
	width: 65%;
	top: 1.6rem;
	left: auto;
	right: 12px;
	border-radius: 0.7rem 0 0 0.7rem;
	float: right;
	background-color: var(--theme-text-muted);
}
/* Inline with Messages */
.unreadPill-3nEWYM, .unreadPillCapStroke-1nE1Q8 {
	background-color: var(--theme-text);
	color: var(--background-tertiary);
	fill: var(--theme-text);
}
.isUnread-3Lojb- { border-color: var(--theme-text); }
.divider-2rZFJK { border-color: var(--theme-text-muted); }
.content-3spvdd, .isUnread-3Lojb- .content-3spvdd { color: var(--theme-text) !important; }

/* Text File Preview */
.textContainer-36wgKK { background-color: var(--background-tertiary); }
.footer-GXWBBp { background-color: var(--background-tertiary); }
.formattedSize-1YbZww { color: #bbb; }

/* File upload Progress Bar */
.progressBar-1T6LYX[style*="background-color: hsl(235"] { background-color: var(--theme-text-muted) !important; }

/* Button Hover */
.lookFilled-yCfaCM.colorBrandNew-2-gGsS { background-color: var(--theme-text-muted); }
.lookFilled-yCfaCM.colorBrandNew-2-gGsS:hover { background-color: var(--theme-text); color: var(--background-tertiary); }

/* Spoiler */
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum { background-color: var(--background-tertiary); }

/* Send Button */
.sendIcon-1HcEzu {
	color: var(--theme-text);
	transition: color 0.2s ;
}
.sendIcon-1HcEzu:hover {
	color: var(--theme-text-muted);
	transition: color 0.2s ;
}

/* Reply */
.attachedBars-2BCP3l, .channelTextArea-1FufC0 { background: transparent !important; }
.replyBar-1oi75v, .threadSuggestionBar-3ExSyc {
	background: rgba(var(--background-tertiary-rgb), 0.4);
	backdrop-filter: blur(var(--blur));
}

/* Server Boost */
.theme-dark .perksModal-CLcR1c { background-color: var(--background-primary); }
.theme-dark .perk-19D_HN { background-color: var(--background-fourth); }
.theme-dark .barBackground-unEPDT { background-color: var(--background-tertiary); }
.theme-dark .tierMarkerBackground-G8FoN4 { background-color: var(--background-fourth); }
.theme-dark .tierHeaderLocked-3ItHYn { background-color: var(--background-fourth); }
.theme-dark .tierBody-3ju-rc { background-color: var(--background-tertiary); }
.barSecondary-VouwoY { background-color: var(--theme-text); }

/* Pinned Messages Box */
.messagesPopoutWrap-3zryHW {
	background-color: var(--_dark3);
	max-height: 90vh !important;
	width: 30vw;
	border: 0.1px solid transparent;
	border-radius: var(--soft-corner);
}
.header-1w9Q93 { background-color: var(--_dark3); }
.messageGroupWrapper-1jf_7C { background-color: var(--_dark1); }
div[class^="messagesPopoutWrap"] > .footer-5ji8u1 { background-color: var(--background-fourth); }

/* Inbox */
.container-2ebMPP, .channelHeader-DFRX8q { background-color: var(--_dark3); }
.messages-23can0, .messageContainer-3VTXBC { background-color: var(--_dark1); }
.content-3spvdd { background: var(--_dark1); }
.tertiary-1e-lAP, .primary-38Hs-h:hover:not(.disabled-184-il), .secondary-2bzKEX { background-color: var(--_dark1); }
.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy { background: var(--background-modifier-selected_); }
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP), .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
    background: var(--background-modifier-hover_);
    
	border-radius: var(--soft-corner);
}

/* Are things offline? */
.tipTitle-3FYEQp {
	content: "";
	font-size: 0px;
}
.tipTitle-3FYEQp::before {
	content: "Hey, it seems things are not connected at the moment.";
	font-size: 12px;
}
.tip-1AwED_ {
	content: "";
	font-size: 0px;
}
.tip-1AwED_::before {
	content: "Things are loading, please stand by . . ."; font-size: 16px;
}
.problems-CvGwpb.slideIn-VAD-dp, .tip-1AwED_ > .keybindShortcut-3zF1P9.keybind-2rkdVo { display: none; }
.container-2RRFHK.fixClipping-3GOd_d {
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
}

/* Discord Game Store Preview */
.scroller-s-wehS { background-color: var(--background-tertiary); }
.theme-dark .root-3mkK8X { background-color: rgba(var(--theme-text-muted-rgb), 0.1); }
.theme-dark .entitledHeader-3TLJwI, .theme-light .entitledHeader-3TLJwI { background-color: var(--background-fourth); }
.theme-dark .bodySection-3iDdop, .theme-light .bodySection-3iDdop, .theme-dark .row-2qQ--F { background-color: var(--background-primary); }

/* Media Opening */
.modal-3Crloo .wrapper-2bCXfR {
	opacity: 0;
	animation: mediapopup 190ms ease-out forwards;
	animation-delay: 80ms;
}
@keyframes mediapopup {
	0% { transform: scale(0.65); }
	70% { backdrop-filter: blur(5px); opacity: 1; transform: scale(1.012); }
	100% { backdrop-filter: blur(5px); opacity: 1; transform: scale(1); }
}

/* Forums */
/* Main Background */
.theme-dark .container-3wLKDe { background-color: var(--background-tertiary); }
/* Search Input Background */
textarea[style^="padding-right: 31.69px"] { background-color: var(--_dark1) !important; }
/* New Badge */
div[style*="background-color: hsl(235, calc(var(--saturation-factor, 1) * 86.2%), 88.6%)"] { background-color: var(--theme-text) !important; }
.newBadgeText-1y7fMO { color:  var(--theme-text-muted); }
/* Tags */
.pill-3pRQlO.clickable-3YTfAq:not(.disabled-3Rezaw) { transition: 0.2s; }
.pill-3pRQlO.clickable-3YTfAq:not(.disabled-3Rezaw):hover {
	background-color: var(--theme-text-muted);
	transition: 0.2s;
}
/* See More Drop List */
.container-2O1UgZ { background-color: var(--_dark2); }
.focused-qp-W9B, .item-1BCeuB:hover:not(.disabled-Mmpvl7) { background-color: var(--background-modifier-hover_); }
/* Edit */
/* Overview */
.forumGuidelines-1U9ThN { background-color: var(--_dark3); }
.addTags-26suzl {
	background-color: var(--theme-text-muted);
	transition: 0.2s;
}
.addTags-26suzl:not(.disabled-1fO3As):hover {
	background-color: var(--theme-text);
	transition: 0.2s;
}


/* Snippets directly from the community */
/* NONE */








/* Custom Server Icons */
@keyframes tooltip {
	from { left: 5px; top: 35px; opacity: 0; display: none; }
	to { left: 10px; top: 40px; opacity: 1; display: block; }
}

/* Minty Labs */
[aria-label^="Minty Labs"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr::before {
	content: "__";
	background: url("https://i.mintlily.lgbt/MintMod_sm.png") center / 100% no-repeat;
	margin-right: 4px;
	color: transparent;
}
[aria-label^="Minty Labs"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr::after {
	content: "Mint is the Best";
	font-size: 12px;
	position: absolute;
	background-color: var(--background-floating);
	padding: 5px 10px;
	border-radius: 4px;
	opacity: 0;
	display: none;
	animation: tooltip 0.3s forwards;
}
[aria-label^="Minty Labs"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr:hover::after {
	opacity: 1;
	display: block;
}
/* BTK */
[aria-label^="Bono's Tool Kit"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr::before {
	content: "__";
	background: url("https://cdn.discordapp.com/icons/535733808222306305/eaeb6f7cf14db296167f68a650a71d9a.webp?") center / 100% no-repeat;
	margin-right: 4px;
	color: transparent;
}
[aria-label^="Bono's Tool Kit"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr::after {
	content: "Boner Client";
	font-size: 12px;
	position: absolute;
	background-color: var(--background-floating);
	padding: 5px 10px;
	border-radius: 4px;
	opacity: 0;
	display: none;
	animation: tooltip 0.3s forwards;
}
[aria-label^="Bono's Tool Kit"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr:hover::after {
	opacity: 1;
	display: block;
}
/* Totally Wholesome */
[aria-label^="Totally Wholesome"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr::before {
	content: "__";
	background: url("https://i.mintlily.lgbt/TW_Logo.png") center / 100% no-repeat;
	margin-right: 4px;
	color: transparent;
}
[aria-label^="Totally Wholesome"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr::after {
	content: "We're Comepletely Wholesome";
	font-size: 12px;
	position: absolute;
	background-color: var(--background-floating);
	padding: 5px 10px;
	border-radius: 4px;
	opacity: 0;
	display: none;
	animation: tooltip 0.3s forwards;
}
[aria-label^="Totally Wholesome"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr:hover::after {
	opacity: 1;
	display: block;
}