:root {
    --theme: #EECCE0;
    --theme-dark: #906D92;
    --theme-dark2: #ad7bb0;
    --color: #eee;
    --dark1: #191F22;
    --dark2: #1e2427;
    --dark3: #131719;
    --darkpur1: #463647;
    --blur: 8px;

    --primary: #EECCE0;
    --bs-link-color-rgb: 238, 204, 224;
    --bs-link-hover-color-rgb: 144, 109, 146;

    --author: "Lily (MintyLily)";
    --version: "2.0.0-unfinished";
    --last_update: "2023.12.11";
}

.css-b4p41j .e18c1r7j29:after {
    margin-top: 50px;
    content: 'Dark Vanilla (VRChat Website) v' var(--version) ' (' var(--last_update) ') by ' var(--author) ' [usr_6d71d3be-1465-4ae9-a97c-1b304ffab93b]';
    color: var(--theme);
}

.css-1be7jyb .navbar {
    background-color: var(--dark1) !important;
    border-color: var(--dark2);
}

.css-1be7jyb .navbar-btn {
    background-color: var(--darkpur1) !important;
    border-color: var(--theme-dark) !important;
}

.css-1be7jyb .navbar-btn:hover {
    background-color: var(--theme-dark) !important;
    border-color: var(--theme-dark2) !important;
}

.css-1hhuku4 {
    background-color: var(--theme-dark2);
    color: var(--text);
}

.css-1be7jyb .right-nav a {
    color: var(--theme);
}

.form-control,
.css-733nux {
    background-color: var(--dark3);
    border-radius: 8px;
}

.form-control:focus,
.css-733nux:focus {
    color: var(--text);
    background-color: var(--dark3);
    border-color: var(--theme);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(10, 10, 13, .075), 0 0 0 3px rgba(173, 123, 176, .25);
}

.css-ab3jnw a {
    color: var(--theme);
}

.css-1tnesjs {
    border-color: var(--theme-dark);
}

.css-w4b5cp:hover {
    backdrop-filter: blur(var(--blur));
}

.css-1g60vdd .leftbar,
.css-1g60vdd .rightbar {
    background: var(--dark1) !important;
}

.css-yjay0l,
.css-1dt3z6y {
    background-color: var(--darkpur1);
    border-color: var(--theme-dark);
    color: var(--text);
}

.css-yjay0l:hover {
    background-color: var(--theme-dark);
    border-color: var(--theme-dark2);
    transform: scale(1.1);
}

.css-1g60vdd .content-scroll {
    background: var(--dark3);
    background-image: none;
}

.css-1brgsnm {
    background-color: var(--dark2);
    border-color: transparent;
}

.css-pcraf3:hover .e18c1r7j30,
.css-pcraf3:hover .e18c1r7j29 {
    border-color: var(--theme-dark) !important;
}

.css-kfjcvw {
    background-color: var(--dark1);
}

.css-jm7yu6 {
    background-color: var(--dark1);
}

.css-17kndqb {
    transition: all 0.2s;
    background-color: var(--darkpur1) !important;
    border-color: var(--theme-dark) !important;
    color: var(--text);
}

.css-17kndqb:hover {
    transition: all 0.2s;
    background-color: var(--theme-dark) !important;
    border-color: var(--theme-dark2) !important;
}

.css-1c3vkb7 {
    background-color: var(--dark3);
    border-color: transparent;
}

.css-1c3vkb7:hover {
    border-color: var(--theme-dark);
}

.css-17tuc33 {
    color: var(--text);
}

.bg-secondary {
    background: var(--dark3) !important;
    color: var(--text);
}

.css-m2xifn {
    transition: all 0.15s;
    background-color: var(--darkpur1) !important;
    border-color: var(--theme-dark) !important;
    color: var(--text);
}

.css-m2xifn:hover {
    transition: all 0.15s;
    background-color: var(--theme-dark) !important;
    border-color: var(--theme-dark2) !important;
    transform: scale(1.1);
}

.css-1kq5y2y:hover .e176ivn219,
.css-1dgwpfi:hover .e176ivn25 {
    backdrop-filter: blur(var(--blur));
}

.tw-text-option-inactive {
    color: var(--text);
}

.tw-bg-option-bg {
    background-color: var(--darkpur1) !important;
}

.hover\:tw-bg-button-border:hover {
    background-color: var(--theme-dark) !important;
}

.tw-border-button-border {
    border-color: var(--theme-dark) !important;
}

.css-j2ra2g.active {
    background-color: var(--darkpur1) !important;
    border-color: var(--theme-dark) !important;
    color: var(--text);
}

.css-j2ra2g:hover,
.css-j2ra2g:active,
.css-j2ra2g:focus {
    border-color: var(--theme-dark) !important;
}