@-moz-document domain("music.youtube.com") {
:root {
    --blur: 8px;
    
    --ThemeName: "Dark Vanilla";
    --author: "Lily (MintLily#0001)";
    --version: "1.0.0";
    
    --yes: #EECCE0;
}

ytmusic-app-layout[player-page-open_] #nav-bar-background.ytmusic-app-layout, ytmusic-app-layout.content-scrolled #nav-bar-background.ytmusic-app-layout, ytmusic-app-layout.content-scrolled #nav-bar-divider.ytmusic-app-layout, ytmusic-app-layout[player-page-open_] #nav-bar-background.ytmusic-app-layout, ytmusic-app-layout.content-scrolled #nav-bar-background.ytmusic-app-layout, ytmusic-app-layout.content-scrolled #nav-bar-divider.ytmusic-app-layout {
    background: rgba(0,0, 0, 0.5);
    backdrop-filter: blur(var(--blur));
}

.search-box.ytmusic-search-box, ytmusic-search-suggestions-section, ytmusic-player-page, .av-toggle.ytmusic-av-toggle {
    background: rgba(0,0, 0, 0.5);
    backdrop-filter: blur(var(--blur));
}

ytmusic-search-suggestion {
    background: rgba(0,0, 0, 0.0);
    color: #eee;
}

ytmusic-player {
    position: static;
}

.side-panel.ytmusic-player-page {
    background: rgba(0,0, 0, 0.5);
    backdrop-filter: blur(18px);
    z-index: 99;
    border-radius: 1.5rem 1.5rem 0 0;
    padding-left: 11px;
}

ytd-multi-page-menu-renderer {
    background: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(var(--blur));
}

ytd-active-account-header-renderer { background-color: transparent; }

.slider-knob-inner.tp-yt-paper-slider {
    background: var(--yes);
    border: 2px solid var(--yes);
}

#progress-bar.ytmusic-player-bar {
    --paper-slider-active-color: #EECCE0;
}

#player-bar-background.ytmusic-app-layout {
    background: transparent;
}

ytmusic-player-bar {
    background: rgba(25, 31, 34, 0.5);
    backdrop-filter: blur(var(--blur));
}

#selectionBar.tp-yt-paper-tabs {
    border-bottom: 2px solid var(--yes);
}
}
