:root {
	--theme-text:                           #cccdee;
	--theme-text-muted:                     #6e6d92;
	--theme-text-rgb:                       238, 204, 224;
	--theme-text-muted-rgb:                 144, 109, 146;
	/* Redo Blurple Replace */
	--text-link:                            #cccdee;
	--text-link-low-saturation:             #6e6d92;
	--brand-experiment:                     rgb(144, 109, 146);
	--brand-experiment-05a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.05);
	--brand-experiment-10a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.1);
	--brand-experiment-15a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.15);
	--brand-experiment-20a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.2);
	--brand-experiment-25a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.25);
	--brand-experiment-30a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.3);
	--brand-experiment-35a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.35);
	--brand-experiment-40a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.4);
	--brand-experiment-45a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.45);
	--brand-experiment-50a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.5);
	--brand-experiment-55a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.55);
	--brand-experiment-60a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.6);
	--brand-experiment-65a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.65);
	--brand-experiment-70a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.7);
	--brand-experiment-75a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.75);
	--brand-experiment-80a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.8);
	--brand-experiment-85a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.85);
	--brand-experiment-90a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.9);
	--brand-experiment-95a:                 hsla(325, calc(var(--saturation-factor, 1) * 85.6%, 87%), 0.95);
	--brand-experiment-200:                  hsl(325, calc(var(--saturation-factor, 1) * 85.6%), 97%);
	--brand-experiment-600:                  hsl(297, calc(var(--saturation-factor, 1) * 15%), 50%);
	--brand-experiment-560:                  hsl(297, calc(var(--saturation-factor, 1) * 15%), 50%);
	--control-brand-foreground:             #6e6d92;
	--divider-color:                        #cccdee;
	--text-brand:                           #cccdee;
	
	--spotify-color:                        #cccdee !important;
}
