:root {
	--dv_theme-text: #324cf0;
	--dv_theme-text-muted: #575d8f;
	--dv_hsl_theme-value: 232;
	--dv_hsl_theme-muted-value: 234;
	--dv_theme-text-rgb: 50, 76, 240;
	--dv_theme-text-muted-rgb: 87, 93, 143;
}