:root {
	--dv_theme-text: #6bff66;
	--dv_theme-text-muted: #6c9388;
	--dv_hsl_theme-value: 118;
	--dv_hsl_theme-muted-value: 117;
	--dv_theme-text-rgb: 107, 255, 102;
	--dv_theme-text-muted-rgb: 110, 147, 108;
}