:root {
	--theme-text:                           #9fffe3;
	--theme-text-muted:                     #6c9388;
	--theme-text-rgb:                       159, 255, 227;
	--theme-text-muted-rgb:                 108, 147, 136;
	--background-modifier-selected:         rgba(159, 255, 227, 0.2);
	--background-modifier-hover:            rgba(159, 255, 227, 0.3);
	/* Redo Blurple Replace */
	--text-link:                            #9fffe3;
	--text-link-low-saturation:             #6c9388;
	--brand-experiment:                     rgb(159, 255, 227);
	--brand-experiment-05a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.05);
	--brand-experiment-10a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.1);
	--brand-experiment-15a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.15);
	--brand-experiment-20a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.2);
	--brand-experiment-25a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.25);
	--brand-experiment-30a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.3);
	--brand-experiment-35a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.35);
	--brand-experiment-40a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.4);
	--brand-experiment-45a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.45);
	--brand-experiment-50a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.5);
	--brand-experiment-55a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.55);
	--brand-experiment-60a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.6);
	--brand-experiment-65a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.65);
	--brand-experiment-70a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.7);
	--brand-experiment-75a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.75);
	--brand-experiment-80a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.8);
	--brand-experiment-85a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.85);
	--brand-experiment-90a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.9);
	--brand-experiment-95a:                 hsla(163, calc(var(--saturation-factor, 1) * 100%), 70%, 0.95);
	--brand-experiment-200:                  hsl(163, calc(var(--saturation-factor, 1) * 100%), 97%);
	--brand-experiment-600:                  hsl(163, calc(var(--saturation-factor, 1) * 15%), 50%);
	--brand-experiment-560:                  hsl(163, calc(var(--saturation-factor, 1) * 15%), 50%);
	--control-brand-foreground:             #6c9388;
	--divider-color:                        #9fffe3;
	--text-brand:                           #9fffe3;
	
	--spotify-color:                        #9fffe3 !important;
}
