:root {
	--dv_theme-text: #9fffe3;
	--dv_theme-text-muted: #6c9388;
	--dv_hsl_theme-value: 163;
	--dv_hsl_theme-muted-value: 163;
	--dv_theme-text-rgb: 159, 255, 227;
	--dv_theme-text-muted-rgb: 108, 147, 136;
}