:root {
	--dv_theme-text: #984fff;
	--dv_theme-text-muted: #7c6c93;
	--dv_hsl_theme-value: 265;
	--dv_hsl_theme-muted-value: 265;
	--dv_theme-text-rgb: 152, 79, 255;
	--dv_theme-text-muted-rgb: 124, 108, 147;
}