:root {
	--dv_theme-text: #e61e1e;
	--dv_theme-text-muted: #936c6c;
	--dv_hsl_theme-value: 0;
	--dv_hsl_theme-muted-value: 0;
	--dv_theme-text-rgb: 230, 30, 30;
	--dv_theme-text-muted-rgb: 147, 108, 108;
}